flows.json
[
    {
        "id": "995ac4ed6222a706",
        "type": "tab",
        "label": "d#28 Day / Night Grid Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93f485839dfa27a8",
        "type": "subflow",
        "name": "Solar forecast",
        "info": "This subflow uses the http request node to fetch solar forecasts for geographical positions, using the API from https://forecast.solar/. Please check their website and consider getting a paid account.\n\nDo note that, on a free account, you are limited in the number of requests to do. Also note that the data only gets updated once every 15 minutes, so there is no reason to query more often. There is rate limiting built in the subflow not to perform requests more than once every 15 minutes.\n\n# Configuration\n\nIt uses the parameters as described on: http://doc.forecast.solar/doku.php\n\n - `:apikey` - personal API key for registered users\n - `:lat` - latitude of location, -90 (south) … 90 (north); Internal precission is 0.0001 or abt. 10 m\n - `:lon` - longitude of location, -180 (west) … 180 (east); Internal precission is 0.0001 or abt. 10 m\n - `:dec` - plane declination, 0 (horizontal) … 90 (vertical); Internal precission is integer\n - `:az` - plane azimuth, -180 … 180 (-180 = north, -90 = east, 0 = south, 90 = west, 180 = north); Internal precission is integer\n - `:kwp` - installed modules power in kilo watt peak (kWp)\n\nYou can choose between 3 different type of requests. Note that only `estimate` is available on the free plan.\n\n- `estimate` - this is the forecasted estimate that your panels should produce (given the right parameter settings)\n- `history` - historical data showing the long term averages for the days to come. See [https://joint-research-centre.ec.europa.eu/pvgis-online-tool/pvgis-data-download/cm-saf-solar-radiation_en](https://joint-research-centre.ec.europa.eu/pvgis-online-tool/pvgis-data-download/cm-saf-solar-radiation_en) for where the data is fetched from.\n- `clear sky` - estimate given if there would be a clear sky tomorrow\n\nIn case of estimates, one of the following options can be selected:\n- `watts` - Watts (power) average for the period\n- `watt_hours_period` - Watt hours (energy) for the period\n- `watt_hours` - Watt hours (energy) summarized over the day\n- `watt_hours_day` - Watt hours (energy) summarized for each day\n\nFor the graph output there are some extra settings available:\n\n- _Output in kWh_ - when checked output can be set to kWh instead of Wh\n- _Show todays forecast_ - whether or not to include todays forecast\n- _Days to forecast_ - the number of days to forecast (excluding today). Note that you can not get more days forecasted than your API key allows.\n- _Widen graph_ - widen the graph to only show non-zero values\n\n# Input \n\nThe input is for triggering the solar forecast request. \nIt triggers when injecting a message into the node.\n\n# Output\n\nThere are two outputs. The first output is an object with the result and a status message stored into the `msg.payload`.\n\nMost important is the `msg.payload.result`, which contains the estimated production of the panels. E.g.:\n\n```\npayload: object\n  result: object\n    2022-11-28: 23\n    2022-11-29: 35\n```\n\nThe `msg.payload.message` gives information on how successful the query was, the exitcode of the query and the status of the rate limit (how many queries you have left).\n\nThe **second** output can be directly linked to a line or a bar chart, quickly giving a once-glance overview for the predicted forecast.\n\n# Status\n\nInitially the status of the note will be a blue dot, showing \"_Unknown limit_\", as it is unaware of the set ratelmits. After the first request, the returned ratelimit will be put in the text in the form of `remaining/limit`. If more than half the limit is remaining, the dot will be green. If less then half the limit is remaining, the dot will be yellow. If no limit is left, the dot will turn red.\nPlease keep in mind that the ratelimit will be reset after one hour, so you can send a new request after that hour.\n\nIf something is wrong in the API request, the dot will turn red\nand the message will contain the msg.payload with the error. This\nhappens typically when the API is temporally down for maintenance.",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 100,
                "wires": [
                    {
                        "id": "c8dc6aa14b9f3e92"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 260,
                "wires": [
                    {
                        "id": "2f42837904c91d73",
                        "port": 0
                    },
                    {
                        "id": "fcc8d69a3ab88e6d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 770,
                "y": 340,
                "wires": [
                    {
                        "id": "5b0a430fb61e70e7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "latitude",
                "type": "num",
                "value": "51.3",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "longitude",
                "type": "num",
                "value": "5.6",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "declination",
                "type": "num",
                "value": "37",
                "ui": {
                    "icon": "font-awesome/fa-chevron-up",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "azimuth",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-compass",
                    "type": "spinner",
                    "opts": {
                        "min": -180,
                        "max": 180
                    }
                }
            },
            {
                "name": "modules power",
                "type": "num",
                "value": "1",
                "ui": {
                    "icon": "font-awesome/fa-power-off",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "apikey",
                "type": "cred",
                "ui": {
                    "icon": "font-awesome/fa-key",
                    "type": "input",
                    "opts": {
                        "types": [
                            "cred"
                        ]
                    }
                }
            },
            {
                "name": "type",
                "type": "str",
                "value": "estimate",
                "ui": {
                    "label": {
                        "en-US": "type"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Estimate"
                                },
                                "v": "estimate"
                            },
                            {
                                "l": {
                                    "en-US": "History"
                                },
                                "v": "history"
                            },
                            {
                                "l": {
                                    "en-US": "Clear sky"
                                },
                                "v": "clearsky"
                            }
                        ]
                    }
                }
            },
            {
                "name": "watt",
                "type": "str",
                "value": "watts",
                "ui": {
                    "icon": "font-awesome/fa-question-circle-o",
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Watts (power) average for the period"
                                },
                                "v": "watts"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) for the period"
                                },
                                "v": "watt_hours_period"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) summarized over the day"
                                },
                                "v": "watt_hours"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) summarized for each day"
                                },
                                "v": "watt_hours_day"
                            }
                        ]
                    }
                }
            },
            {
                "name": "kwhoutput",
                "type": "bool",
                "value": "false",
                "ui": {
                    "label": {
                        "en-US": "Output in kWh (in the graph)"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "showtoday",
                "type": "bool",
                "value": "true",
                "ui": {
                    "label": {
                        "en-US": "Show todays forecast"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "daystoforecast",
                "type": "str",
                "value": "-1",
                "ui": {
                    "label": {
                        "en-US": "Days to forecast"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Max"
                                },
                                "v": "-1"
                            },
                            {
                                "l": {
                                    "en-US": "0"
                                },
                                "v": "0"
                            },
                            {
                                "l": {
                                    "en-US": "1"
                                },
                                "v": "1"
                            },
                            {
                                "l": {
                                    "en-US": "2"
                                },
                                "v": "2"
                            },
                            {
                                "l": {
                                    "en-US": "3"
                                },
                                "v": "3"
                            },
                            {
                                "l": {
                                    "en-US": "4"
                                },
                                "v": "4"
                            },
                            {
                                "l": {
                                    "en-US": "5"
                                },
                                "v": "5"
                            },
                            {
                                "l": {
                                    "en-US": "6"
                                },
                                "v": "6"
                            }
                        ]
                    }
                }
            },
            {
                "name": "widengraph",
                "type": "bool",
                "value": "true",
                "ui": {
                    "label": {
                        "en-US": "Widen graph"
                    },
                    "type": "checkbox"
                }
            }
        ],
        "meta": {
            "module": "Solar Forecast",
            "version": "0.0.9",
            "author": "dfaber@victronenergy.com",
            "desc": "Get solar forecasting per location",
            "keywords": "solar,forecast,api",
            "license": "GPL-3.0"
        },
        "color": "#FFCC66",
        "inputLabels": [
            "trigger"
        ],
        "outputLabels": [
            "output",
            "graph"
        ],
        "icon": "font-awesome/fa-sun-o",
        "status": {
            "x": 680,
            "y": 560,
            "wires": [
                {
                    "id": "1bfc1cde3ee94e4b",
                    "port": 0
                },
                {
                    "id": "a798fbe66cf133d5",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "8a21567701c5528c",
        "type": "subflow",
        "name": "Solar forecast",
        "info": "This subflow uses the http request node to fetch solar forecasts for geographical positions, using the API from https://forecast.solar/. Please check their website and consider getting a paid account.\n\nDo note that, on a free account, you are limited in the number of requests to do. Also note that the data only gets updated once every 15 minutes, so there is no reason to query more often. There is rate limiting built in the subflow not to perform requests more than once every 15 minutes.\n\n# Configuration\n\nIt uses the parameters as described on: http://doc.forecast.solar/doku.php\n\n - `:apikey` - personal API key for registered users\n - `:lat` - latitude of location, -90 (south) … 90 (north); Internal precission is 0.0001 or abt. 10 m\n - `:lon` - longitude of location, -180 (west) … 180 (east); Internal precission is 0.0001 or abt. 10 m\n - `:dec` - plane declination, 0 (horizontal) … 90 (vertical); Internal precission is integer\n - `:az` - plane azimuth, -180 … 180 (-180 = north, -90 = east, 0 = south, 90 = west, 180 = north); Internal precission is integer\n - `:kwp` - installed modules power in kilo watt peak (kWp)\n\nYou can choose between 3 different type of requests. Note that only `estimate` is available on the free plan.\n\n- `estimate` - this is the forecasted estimate that your panels should produce (given the right parameter settings)\n- `history` - historical data showing the long term averages for the days to come. See [https://joint-research-centre.ec.europa.eu/pvgis-online-tool/pvgis-data-download/cm-saf-solar-radiation_en](https://joint-research-centre.ec.europa.eu/pvgis-online-tool/pvgis-data-download/cm-saf-solar-radiation_en) for where the data is fetched from.\n- `clear sky` - estimate given if there would be a clear sky tomorrow\n\nIn case of estimates, one of the following options can be selected:\n- `watts` - Watts (power) average for the period\n- `watt_hours_period` - Watt hours (energy) for the period\n- `watt_hours` - Watt hours (energy) summarized over the day\n- `watt_hours_day` - Watt hours (energy) summarized for each day\n\nFor the graph output there are some extra settings available:\n\n- _Output in kWh_ - when checked output can be set to kWh instead of Wh\n- _Show todays forecast_ - whether or not to include todays forecast\n- _Days to forecast_ - the number of days to forecast (excluding today). Note that you can not get more days forecasted than your API key allows.\n- _Widen graph_ - widen the graph to only show non-zero values\n\n# Input \n\nThe input is for triggering the solar forecast request. \nIt triggers when injecting a message into the node.\n\n# Output\n\nThere are two outputs. The first output is an object with the result and a status message stored into the `msg.payload`.\n\nMost important is the `msg.payload.result`, which contains the estimated production of the panels. E.g.:\n\n```\npayload: object\n  result: object\n    2022-11-28: 23\n    2022-11-29: 35\n```\n\nThe `msg.payload.message` gives information on how successful the query was, the exitcode of the query and the status of the rate limit (how many queries you have left).\n\nThe **second** output can be directly linked to a line or a bar chart, quickly giving a once-glance overview for the predicted forecast.\n\n# Status\n\nInitially the status of the note will be a blue dot, showing \"_Unknown limit_\", as it is unaware of the set ratelmits. After the first request, the returned ratelimit will be put in the text in the form of `remaining/limit`. If more than half the limit is remaining, the dot will be green. If less then half the limit is remaining, the dot will be yellow. If no limit is left, the dot will turn red.\nPlease keep in mind that the ratelimit will be reset after one hour, so you can send a new request after that hour.\n\nIf something is wrong in the API request, the dot will turn red\nand the message will contain the msg.payload with the error. This\nhappens typically when the API is temporally down for maintenance.",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 100,
                "wires": [
                    {
                        "id": "31d3374d6e890a33"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 260,
                "wires": [
                    {
                        "id": "d67f7305fd1cb99f",
                        "port": 0
                    },
                    {
                        "id": "9d47dc91c19bbf16",
                        "port": 0
                    }
                ]
            },
            {
                "x": 770,
                "y": 340,
                "wires": [
                    {
                        "id": "8c5c6a89a6d7235e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "latitude",
                "type": "num",
                "value": "51.3",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "longitude",
                "type": "num",
                "value": "5.6",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "declination",
                "type": "num",
                "value": "37",
                "ui": {
                    "icon": "font-awesome/fa-chevron-up",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "azimuth",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-compass",
                    "type": "spinner",
                    "opts": {
                        "min": -180,
                        "max": 180
                    }
                }
            },
            {
                "name": "modules power",
                "type": "num",
                "value": "1",
                "ui": {
                    "icon": "font-awesome/fa-power-off",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "apikey",
                "type": "cred",
                "ui": {
                    "icon": "font-awesome/fa-key",
                    "type": "input",
                    "opts": {
                        "types": [
                            "cred"
                        ]
                    }
                }
            },
            {
                "name": "type",
                "type": "str",
                "value": "estimate",
                "ui": {
                    "label": {
                        "en-US": "type"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Estimate"
                                },
                                "v": "estimate"
                            },
                            {
                                "l": {
                                    "en-US": "History"
                                },
                                "v": "history"
                            },
                            {
                                "l": {
                                    "en-US": "Clear sky"
                                },
                                "v": "clearsky"
                            }
                        ]
                    }
                }
            },
            {
                "name": "watt",
                "type": "str",
                "value": "watts",
                "ui": {
                    "icon": "font-awesome/fa-question-circle-o",
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Watts (power) average for the period"
                                },
                                "v": "watts"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) for the period"
                                },
                                "v": "watt_hours_period"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) summarized over the day"
                                },
                                "v": "watt_hours"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) summarized for each day"
                                },
                                "v": "watt_hours_day"
                            }
                        ]
                    }
                }
            },
            {
                "name": "kwhoutput",
                "type": "bool",
                "value": "false",
                "ui": {
                    "label": {
                        "en-US": "Output in kWh (in the graph)"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "showtoday",
                "type": "bool",
                "value": "true",
                "ui": {
                    "label": {
                        "en-US": "Show todays forecast"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "daystoforecast",
                "type": "str",
                "value": "-1",
                "ui": {
                    "label": {
                        "en-US": "Days to forecast"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Max"
                                },
                                "v": "-1"
                            },
                            {
                                "l": {
                                    "en-US": "0"
                                },
                                "v": "0"
                            },
                            {
                                "l": {
                                    "en-US": "1"
                                },
                                "v": "1"
                            },
                            {
                                "l": {
                                    "en-US": "2"
                                },
                                "v": "2"
                            },
                            {
                                "l": {
                                    "en-US": "3"
                                },
                                "v": "3"
                            },
                            {
                                "l": {
                                    "en-US": "4"
                                },
                                "v": "4"
                            },
                            {
                                "l": {
                                    "en-US": "5"
                                },
                                "v": "5"
                            },
                            {
                                "l": {
                                    "en-US": "6"
                                },
                                "v": "6"
                            }
                        ]
                    }
                }
            },
            {
                "name": "widengraph",
                "type": "bool",
                "value": "true",
                "ui": {
                    "label": {
                        "en-US": "Widen graph"
                    },
                    "type": "checkbox"
                }
            }
        ],
        "meta": {
            "module": "Solar Forecast",
            "version": "0.0.9",
            "author": "dfaber@victronenergy.com",
            "desc": "Get solar forecasting per location",
            "keywords": "solar,forecast,api",
            "license": "GPL-3.0"
        },
        "color": "#FFCC66",
        "inputLabels": [
            "trigger"
        ],
        "outputLabels": [
            "output",
            "graph"
        ],
        "icon": "font-awesome/fa-sun-o",
        "status": {
            "x": 680,
            "y": 560,
            "wires": [
                {
                    "id": "0f1144b934a30f0f",
                    "port": 0
                },
                {
                    "id": "e3866c2b306877c6",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "victron-client-id",
        "type": "victron-client",
        "showValues": true,
        "contextStore": true,
        "enablePolling": false
    },
    {
        "id": "ui-tab-hourly-stats-01",
        "type": "ui_tab",
        "name": "Energy",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-group-hourly-stats-01",
        "type": "ui_group",
        "name": "Hourly Grid and AC",
        "tab": "ui-tab-hourly-stats-01",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a580dfa09dbff3d5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3eb892847da2ef0b",
        "type": "victron-client",
        "showValues": true,
        "contextStore": true,
        "enablePolling": false
    },
    {
        "id": "6fb98cc3df6410d0",
        "type": "ui_tab",
        "name": "Energy",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1f1844ac6ade5f1d",
        "type": "ui_group",
        "name": "Hourly Grid and AC",
        "tab": "6fb98cc3df6410d0",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-tab-hourly-stats-02",
        "type": "ui_tab",
        "name": "Energy Detail",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-group-hourly-stats-02",
        "type": "ui_group",
        "name": "Hourly Grid and AC Detail",
        "tab": "ui-tab-hourly-stats-02",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-tab-analytics-01",
        "type": "ui_tab",
        "name": "Analytics",
        "icon": "assessment",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-group-analytics-main-01",
        "type": "ui_group",
        "name": "Daily Analytics",
        "tab": "ui-tab-analytics-01",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-analytics-diag-01",
        "type": "ui_group",
        "name": "Diagnostics and Gaps",
        "tab": "ui-tab-analytics-01",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c706820c0d61f023",
        "type": "http request",
        "z": "93f485839dfa27a8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1b5ccaa05d54f7c3"
            ]
        ]
    },
    {
        "id": "b9488734852cd0ca",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "create forecast.solar url",
        "func": "msg.url = 'https://api.forecast.solar/';\n\nif (env.get('apikey')) {\n    msg.url += env.get('apikey') + '/';\n    }\n\nmsg.url += env.get('type') + '/';\n\nmsg.url += env.get('watt') + '/';\n\nmsg.url += env.get('latitude') + '/' +\n           env.get('longitude') + '/' +\n           env.get('declination') + '/' +\n           env.get('azimuth') + '/' +\n           env.get('modules power');\n\nmsg.topic = 'solar forecast: '+(env.get('type') || '');\nmsg.topic += (' '+env.get('watt') || '');\nif (env.get('kwhoutput')) {\n    msg.topic += ' (kWh)';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "975daf96f15cfb61"
            ]
        ]
    },
    {
        "id": "1b5ccaa05d54f7c3",
        "type": "json",
        "z": "93f485839dfa27a8",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "e718a22973cc2864"
            ]
        ]
    },
    {
        "id": "559391d1288f762a",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "update ratelimit",
        "func": "var remaining = msg.payload.message.ratelimit.remaining || 0;\nvar limit = msg.payload.message.ratelimit.limit;\n\nflow.set('forecast.solar.ratelimit.remaining', remaining)\nflow.set('forecast.solar.ratelimit.limit', limit)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 480,
        "wires": [
            [
                "e56826252134b93a"
            ]
        ]
    },
    {
        "id": "e718a22973cc2864",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "3fa24f2d08195961",
            "0a20e852662c8cec"
        ],
        "x": 815,
        "y": 180,
        "wires": []
    },
    {
        "id": "3fa24f2d08195961",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 1",
        "links": [
            "e718a22973cc2864"
        ],
        "x": 385,
        "y": 480,
        "wires": [
            [
                "559391d1288f762a"
            ]
        ]
    },
    {
        "id": "0a20e852662c8cec",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 2",
        "links": [
            "e718a22973cc2864"
        ],
        "x": 225,
        "y": 260,
        "wires": [
            [
                "fcc8d69a3ab88e6d"
            ]
        ]
    },
    {
        "id": "4734b6f403e1f03e",
        "type": "inject",
        "z": "93f485839dfa27a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "e56826252134b93a"
            ]
        ]
    },
    {
        "id": "1bfc1cde3ee94e4b",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "update status",
        "func": "var remaining = flow.get('forecast.solar.ratelimit.remaining') || -1;\nvar limit = flow.get('forecast.solar.ratelimit.limit') || -1\n\nvar text = remaining.toString() + '/' + limit.toString();\nvar fill = \"green\";\n\nif (remaining == 0) {\n    fill = \"red\";\n    text = \"Limit used\";\n}\n\nif (remaining > 0 && remaining < limit / 2) {\n    fill = \"yellow\"\n}\n\nif (remaining == -1 ) {\n    fill = \"blue\"\n    text = \"Limits unknown\"\n}\n\nmsg.payload = ({ fill: fill, text: text });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a18e96179ec2d987",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Create graph output",
        "func": "var m = {};\nm.labels = [];\nm.data = [];\n\nm.series = [];\nm.data = [];\nm.labels = [];\n\nfor (let j = 0; j <= msg.days; j++) {\n    m.data[j] = [];\n}\n\nif (msg.watt === 'watt_hours_day') {\n    var i = 0;\n    m.series.push(\"Watt hours per day\");\n    for (const key in msg.payload.result) {\n        m.labels.push(key);\n        if (msg.kwhoutput) {\n            m.data[i] = +(Math.round(msg.payload.result[key]/100)*.1).toFixed(1);\n        } else {\n            m.data[i] = msg.payload.result[key];\n        }\n        i++;\n    }\n    m.data = [m.data];\n    return { payload: [m] };\n}\n\nfor (let i = 0; i <= 23; i++) {\n\n    m.labels.push(i.toString()+':00');\n    if (msg.resolution === 4) {\n       m.labels.push(i.toString()+':15');\n    }\n    if (msg.resolution === 2 || msg.resolution == 4) {\n       m.labels.push(i.toString()+':30');\n    }\n    if (msg.resolution === 4) {\n       m.labels.push(i.toString()+':45');\n    }\n\n    for (let j = 0; j <= msg.days; j++) {\n        m.data[j].push(0);\n        if (msg.resolution === 4) {\n           m.data[j].push(0)\n        }\n        if (msg.resolution === 2 || msg.resolution == 4) {\n           m.data[j].push(0)\n        }\n        if (msg.resolution === 4) {\n           m.data[j].push(0)\n        }\n\n    }\n}\n\nvar offset = 0;\nfor (const key in msg.payload.result) {\n    var d = new Date(key)\n    if (m.series.indexOf(d.toISOString().split('T')[0]) === -1) {\n        m.series.push(d.toISOString().split('T')[0])\n    }\n\n    var h = d.getHours();\n    var minutes = d.getMinutes();\n\n    if (minutes === 0 ) {\n        offset = 0;\n    } else {\n        offset++;\n    }\n\n    if (msg.kwhoutput) {\n        m.data[m.series.length - 1][h*msg.resolution+offset] = +(Math.round(msg.payload.result[key]/100)*.1).toFixed(1);\n    } else {\n        m.data[m.series.length - 1][h*msg.resolution+offset] = msg.payload.result[key];\n    }\n}\n\nreturn { payload: [m] };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "5b0a430fb61e70e7"
            ]
        ]
    },
    {
        "id": "975daf96f15cfb61",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "14f2e68e572f4ef8"
        ],
        "x": 805,
        "y": 100,
        "wires": []
    },
    {
        "id": "14f2e68e572f4ef8",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 18",
        "links": [
            "975daf96f15cfb61"
        ],
        "x": 245,
        "y": 180,
        "wires": [
            [
                "c706820c0d61f023"
            ]
        ]
    },
    {
        "id": "c4307905e114824f",
        "type": "catch",
        "z": "93f485839dfa27a8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "f427f19392c399ce"
            ]
        ]
    },
    {
        "id": "e56826252134b93a",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "dbaf8f5f5a920686"
        ],
        "x": 685,
        "y": 480,
        "wires": []
    },
    {
        "id": "dbaf8f5f5a920686",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 19",
        "links": [
            "e56826252134b93a"
        ],
        "x": 385,
        "y": 580,
        "wires": [
            [
                "1bfc1cde3ee94e4b"
            ]
        ]
    },
    {
        "id": "f427f19392c399ce",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "2ded0c14a222b4d9",
            "2f42837904c91d73"
        ],
        "x": 375,
        "y": 440,
        "wires": []
    },
    {
        "id": "2ded0c14a222b4d9",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 20",
        "links": [
            "f427f19392c399ce"
        ],
        "x": 385,
        "y": 540,
        "wires": [
            [
                "a798fbe66cf133d5"
            ]
        ]
    },
    {
        "id": "a798fbe66cf133d5",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Set error status",
        "func": "node.warn(msg.payload)\nmsg.payload = ({ fill: \"red\", text: msg.payload });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2f42837904c91d73",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 21",
        "links": [
            "f427f19392c399ce"
        ],
        "x": 665,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fcc8d69a3ab88e6d",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Processed info",
        "func": "msg.resolution = 60;\nmsg.days = 1;\nmsg.type = env.get('type');\nmsg.watt = env.get('watt');\nmsg.kwhoutput = env.get('kwhoutput');\n\nvar key1 = Object.keys(msg.payload.result)[1];\nvar key2 = Object.keys(msg.payload.result)[2];\nvar key3 = Object.keys(msg.payload.result)[Object.keys(msg.payload.result).length-1];\n\nvar d1 = new Date(key1);\nvar d2 = new Date(key2); \nvar d3 = new Date(key3);\nmsg.resolution = 3600000 / (d2.getTime() - d1.getTime());\n\nmsg.days = Math.floor((d3.getTime() - d1.getTime()) / (1000 * 3600 * 24));\n\nif (msg.watt === 'watt_hours_day') {\n    msg.resolution = null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "a18e96179ec2d987"
            ]
        ],
        "info": "Function to process the result from forecast.solar to add\nextra information, which is handy for either graphing or\nto store in a database.\n\n\nThe extra values added:\n- `msg.resolution` - The number of measurements per hour. If\nno API key is used, this will be 1. Other values may be 2 or 4.\n- `msg.days` - The number of days in the forcast. If no API\n- key is used this will be 1. Other values may be 3 or 6."
    },
    {
        "id": "5b0a430fb61e70e7",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Filter graph",
        "func": "var forecasted = msg.payload[0].series.length;\n\nif ((env.get('daystoforecast') > -1) && (env.get('daystoforecast') < forecasted)) {\n    for (i = 1; i < (forecasted - env.get('daystoforecast')); i++ ) {\n        msg.payload[0].data.pop();\n        msg.payload[0].series.pop();\n    }\n}\n\nif (env.get('watt') === 'watt_hours_day' ) {\n    forecasted = msg.payload[0].labels.length;\n    for (i = 1; i < (forecasted - env.get('daystoforecast')); i++ ) {\n        msg.payload[0].labels.pop();\n        msg.payload[0].data[0].pop();\n    }\n}\n\nif (!env.get('showtoday')) {\n    msg.payload[0].data.shift();\n    msg.payload[0].series.shift();\n}\n\nif (env.get('widengraph')) {\n    var c = msg.payload[0].labels.length;\n    var x = 0;\n    for (i = 0; i < c; i++) {\n        var remove = true;\n        for (d = 0; d < msg.payload[0].data.length; d++) {\n            if (msg.payload[0].data[d][x] > 0) {\n                remove = false;\n            }\n        }\n        if (remove) {\n            msg.payload[0].labels.splice(x, 1);\n            for (d = 0; d < msg.payload[0].data.length; d++) {\n                 msg.payload[0].data[d].splice(x, 1);\n            }\n            x--;\n        }\n        x++;\n    }\n    // Still the first and last datapoints should be zero, so\n    // add those again\n    msg.payload[0].labels.unshift('');\n    msg.payload[0].labels.push('');\n    for (d = 0; d < msg.payload[0].data.length; d++) {\n         msg.payload[0].data[d].unshift(0);\n         msg.payload[0].data[d].push(0);\n    }   \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c8dc6aa14b9f3e92",
        "type": "delay",
        "z": "93f485839dfa27a8",
        "name": "1 msg/15 minutes",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "b9488734852cd0ca"
            ]
        ]
    },
    {
        "id": "7c06f909fac357e7",
        "type": "http request",
        "z": "8a21567701c5528c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "dcdf69135f55f4b7"
            ]
        ]
    },
    {
        "id": "5c847fda8423b9fa",
        "type": "function",
        "z": "8a21567701c5528c",
        "name": "create forecast.solar url",
        "func": "msg.url = 'https://api.forecast.solar/';\n\nif (env.get('apikey')) {\n    msg.url += env.get('apikey') + '/';\n    }\n\nmsg.url += env.get('type') + '/';\n\nmsg.url += env.get('watt') + '/';\n\nmsg.url += env.get('latitude') + '/' +\n           env.get('longitude') + '/' +\n           env.get('declination') + '/' +\n           env.get('azimuth') + '/' +\n           env.get('modules power');\n\nmsg.topic = 'solar forecast: '+(env.get('type') || '');\nmsg.topic += (' '+env.get('watt') || '');\nif (env.get('kwhoutput')) {\n    msg.topic += ' (kWh)';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "f4effc736451c0b1"
            ]
        ]
    },
    {
        "id": "dcdf69135f55f4b7",
        "type": "json",
        "z": "8a21567701c5528c",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "73f06068d1a27b3e"
            ]
        ]
    },
    {
        "id": "224ac32598317092",
        "type": "function",
        "z": "8a21567701c5528c",
        "name": "update ratelimit",
        "func": "var remaining = msg.payload.message.ratelimit.remaining || 0;\nvar limit = msg.payload.message.ratelimit.limit;\n\nflow.set('forecast.solar.ratelimit.remaining', remaining)\nflow.set('forecast.solar.ratelimit.limit', limit)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 480,
        "wires": [
            [
                "1ddd54c0a5682669"
            ]
        ]
    },
    {
        "id": "73f06068d1a27b3e",
        "type": "link out",
        "z": "8a21567701c5528c",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "5b996d2235f6e7b6",
            "862a98bd752465be"
        ],
        "x": 815,
        "y": 180,
        "wires": []
    },
    {
        "id": "5b996d2235f6e7b6",
        "type": "link in",
        "z": "8a21567701c5528c",
        "name": "link in 1",
        "links": [
            "73f06068d1a27b3e"
        ],
        "x": 385,
        "y": 480,
        "wires": [
            [
                "224ac32598317092"
            ]
        ]
    },
    {
        "id": "862a98bd752465be",
        "type": "link in",
        "z": "8a21567701c5528c",
        "name": "link in 2",
        "links": [
            "73f06068d1a27b3e"
        ],
        "x": 225,
        "y": 260,
        "wires": [
            [
                "9d47dc91c19bbf16"
            ]
        ]
    },
    {
        "id": "bced75241fdc5802",
        "type": "inject",
        "z": "8a21567701c5528c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "1ddd54c0a5682669"
            ]
        ]
    },
    {
        "id": "0f1144b934a30f0f",
        "type": "function",
        "z": "8a21567701c5528c",
        "name": "update status",
        "func": "var remaining = flow.get('forecast.solar.ratelimit.remaining') || -1;\nvar limit = flow.get('forecast.solar.ratelimit.limit') || -1\n\nvar text = remaining.toString() + '/' + limit.toString();\nvar fill = \"green\";\n\nif (remaining == 0) {\n    fill = \"red\";\n    text = \"Limit used\";\n}\n\nif (remaining > 0 && remaining < limit / 2) {\n    fill = \"yellow\"\n}\n\nif (remaining == -1 ) {\n    fill = \"blue\"\n    text = \"Limits unknown\"\n}\n\nmsg.payload = ({ fill: fill, text: text });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f8110f53c64ab484",
        "type": "function",
        "z": "8a21567701c5528c",
        "name": "Create graph output",
        "func": "var m = {};\nm.labels = [];\nm.data = [];\n\nm.series = [];\nm.data = [];\nm.labels = [];\n\nfor (let j = 0; j <= msg.days; j++) {\n    m.data[j] = [];\n}\n\nif (msg.watt === 'watt_hours_day') {\n    var i = 0;\n    m.series.push(\"Watt hours per day\");\n    for (const key in msg.payload.result) {\n        m.labels.push(key);\n        if (msg.kwhoutput) {\n            m.data[i] = +(Math.round(msg.payload.result[key]/100)*.1).toFixed(1);\n        } else {\n            m.data[i] = msg.payload.result[key];\n        }\n        i++;\n    }\n    m.data = [m.data];\n    return { payload: [m] };\n}\n\nfor (let i = 0; i <= 23; i++) {\n\n    m.labels.push(i.toString()+':00');\n    if (msg.resolution === 4) {\n       m.labels.push(i.toString()+':15');\n    }\n    if (msg.resolution === 2 || msg.resolution == 4) {\n       m.labels.push(i.toString()+':30');\n    }\n    if (msg.resolution === 4) {\n       m.labels.push(i.toString()+':45');\n    }\n\n    for (let j = 0; j <= msg.days; j++) {\n        m.data[j].push(0);\n        if (msg.resolution === 4) {\n           m.data[j].push(0)\n        }\n        if (msg.resolution === 2 || msg.resolution == 4) {\n           m.data[j].push(0)\n        }\n        if (msg.resolution === 4) {\n           m.data[j].push(0)\n        }\n\n    }\n}\n\nvar offset = 0;\nfor (const key in msg.payload.result) {\n    var d = new Date(key)\n    if (m.series.indexOf(d.toISOString().split('T')[0]) === -1) {\n        m.series.push(d.toISOString().split('T')[0])\n    }\n\n    var h = d.getHours();\n    var minutes = d.getMinutes();\n\n    if (minutes === 0 ) {\n        offset = 0;\n    } else {\n        offset++;\n    }\n\n    if (msg.kwhoutput) {\n        m.data[m.series.length - 1][h*msg.resolution+offset] = +(Math.round(msg.payload.result[key]/100)*.1).toFixed(1);\n    } else {\n        m.data[m.series.length - 1][h*msg.resolution+offset] = msg.payload.result[key];\n    }\n}\n\nreturn { payload: [m] };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "8c5c6a89a6d7235e"
            ]
        ]
    },
    {
        "id": "f4effc736451c0b1",
        "type": "link out",
        "z": "8a21567701c5528c",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "e068880955792b08"
        ],
        "x": 805,
        "y": 100,
        "wires": []
    },
    {
        "id": "e068880955792b08",
        "type": "link in",
        "z": "8a21567701c5528c",
        "name": "link in 18",
        "links": [
            "f4effc736451c0b1"
        ],
        "x": 245,
        "y": 180,
        "wires": [
            [
                "7c06f909fac357e7"
            ]
        ]
    },
    {
        "id": "29900c5c2ad9f66a",
        "type": "catch",
        "z": "8a21567701c5528c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "b5c9a34286350b3b"
            ]
        ]
    },
    {
        "id": "1ddd54c0a5682669",
        "type": "link out",
        "z": "8a21567701c5528c",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "87a803a474a03818"
        ],
        "x": 685,
        "y": 480,
        "wires": []
    },
    {
        "id": "87a803a474a03818",
        "type": "link in",
        "z": "8a21567701c5528c",
        "name": "link in 19",
        "links": [
            "1ddd54c0a5682669"
        ],
        "x": 385,
        "y": 580,
        "wires": [
            [
                "0f1144b934a30f0f"
            ]
        ]
    },
    {
        "id": "b5c9a34286350b3b",
        "type": "link out",
        "z": "8a21567701c5528c",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "56282f059b107ed4",
            "d67f7305fd1cb99f"
        ],
        "x": 375,
        "y": 440,
        "wires": []
    },
    {
        "id": "56282f059b107ed4",
        "type": "link in",
        "z": "8a21567701c5528c",
        "name": "link in 20",
        "links": [
            "b5c9a34286350b3b"
        ],
        "x": 385,
        "y": 540,
        "wires": [
            [
                "e3866c2b306877c6"
            ]
        ]
    },
    {
        "id": "e3866c2b306877c6",
        "type": "function",
        "z": "8a21567701c5528c",
        "name": "Set error status",
        "func": "node.warn(msg.payload)\nmsg.payload = ({ fill: \"red\", text: msg.payload });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d67f7305fd1cb99f",
        "type": "link in",
        "z": "8a21567701c5528c",
        "name": "link in 21",
        "links": [
            "b5c9a34286350b3b"
        ],
        "x": 665,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9d47dc91c19bbf16",
        "type": "function",
        "z": "8a21567701c5528c",
        "name": "Processed info",
        "func": "msg.resolution = 60;\nmsg.days = 1;\nmsg.type = env.get('type');\nmsg.watt = env.get('watt');\nmsg.kwhoutput = env.get('kwhoutput');\n\nvar key1 = Object.keys(msg.payload.result)[1];\nvar key2 = Object.keys(msg.payload.result)[2];\nvar key3 = Object.keys(msg.payload.result)[Object.keys(msg.payload.result).length-1];\n\nvar d1 = new Date(key1);\nvar d2 = new Date(key2); \nvar d3 = new Date(key3);\nmsg.resolution = 3600000 / (d2.getTime() - d1.getTime());\n\nmsg.days = Math.floor((d3.getTime() - d1.getTime()) / (1000 * 3600 * 24));\n\nif (msg.watt === 'watt_hours_day') {\n    msg.resolution = null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "f8110f53c64ab484"
            ]
        ],
        "info": "Function to process the result from forecast.solar to add\nextra information, which is handy for either graphing or\nto store in a database.\n\n\nThe extra values added:\n- `msg.resolution` - The number of measurements per hour. If\nno API key is used, this will be 1. Other values may be 2 or 4.\n- `msg.days` - The number of days in the forcast. If no API\n- key is used this will be 1. Other values may be 3 or 6."
    },
    {
        "id": "8c5c6a89a6d7235e",
        "type": "function",
        "z": "8a21567701c5528c",
        "name": "Filter graph",
        "func": "var forecasted = msg.payload[0].series.length;\n\nif ((env.get('daystoforecast') > -1) && (env.get('daystoforecast') < forecasted)) {\n    for (i = 1; i < (forecasted - env.get('daystoforecast')); i++ ) {\n        msg.payload[0].data.pop();\n        msg.payload[0].series.pop();\n    }\n}\n\nif (env.get('watt') === 'watt_hours_day' ) {\n    forecasted = msg.payload[0].labels.length;\n    for (i = 1; i < (forecasted - env.get('daystoforecast')); i++ ) {\n        msg.payload[0].labels.pop();\n        msg.payload[0].data[0].pop();\n    }\n}\n\nif (!env.get('showtoday')) {\n    msg.payload[0].data.shift();\n    msg.payload[0].series.shift();\n}\n\nif (env.get('widengraph')) {\n    var c = msg.payload[0].labels.length;\n    var x = 0;\n    for (i = 0; i < c; i++) {\n        var remove = true;\n        for (d = 0; d < msg.payload[0].data.length; d++) {\n            if (msg.payload[0].data[d][x] > 0) {\n                remove = false;\n            }\n        }\n        if (remove) {\n            msg.payload[0].labels.splice(x, 1);\n            for (d = 0; d < msg.payload[0].data.length; d++) {\n                 msg.payload[0].data[d].splice(x, 1);\n            }\n            x--;\n        }\n        x++;\n    }\n    // Still the first and last datapoints should be zero, so\n    // add those again\n    msg.payload[0].labels.unshift('');\n    msg.payload[0].labels.push('');\n    for (d = 0; d < msg.payload[0].data.length; d++) {\n         msg.payload[0].data[d].unshift(0);\n         msg.payload[0].data[d].push(0);\n    }   \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "31d3374d6e890a33",
        "type": "delay",
        "z": "8a21567701c5528c",
        "name": "1 msg/15 minutes",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "5c847fda8423b9fa"
            ]
        ]
    },
    {
        "id": "9217554766842bb8",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "DAY 06:00 Grid setpoint 1980W",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2000",
        "payloadType": "num",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "7ec26167c492e338",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "NIGHT 22:00 Grid setpoint 2850W",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2850",
        "payloadType": "num",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "8db34d06b6591d5e",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "DAY 06:00 Grid current 9.55A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9.55",
        "payloadType": "num",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "e4766632305fb432",
                "66951950bfa6d862"
            ]
        ]
    },
    {
        "id": "3e6dccae307e4561",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "NIGHT 22:00 Grid current 13.5A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "13.5",
        "payloadType": "num",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "e4766632305fb432",
                "66951950bfa6d862"
            ]
        ]
    },
    {
        "id": "66951950bfa6d862",
        "type": "victron-output-vebus",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/In/1/CurrentLimit",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 48/5000/70-50"
        },
        "pathObj": {
            "path": "/Ac/In/1/CurrentLimit",
            "type": "float",
            "name": "Input 1 current limit (A)",
            "mode": "both"
        },
        "initial": 9.55,
        "name": "",
        "onlyChanges": false,
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "b85e512d33d6a7cc",
        "type": "victron-output-ess",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcPowerSetPoint",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcPowerSetPoint",
            "type": "integer",
            "name": "Grid set-point (W)",
            "mode": "both"
        },
        "initial": 1980,
        "name": "",
        "onlyChanges": false,
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "70b033ccd4654b3e",
        "type": "delay",
        "z": "995ac4ed6222a706",
        "name": "Delay 10s",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "b85e512d33d6a7cc"
            ]
        ]
    },
    {
        "id": "902ee92400d4d4af",
        "type": "victron-output-ess",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.settings",
        "path": "/Settings/SystemSetup/MaxChargeCurrent",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/SystemSetup/MaxChargeCurrent",
            "type": "float",
            "name": "DVCC Charge current limit (A)",
            "mode": "both"
        },
        "initial": 0,
        "name": "DVCC Charge current Limit (A)",
        "onlyChanges": false,
        "x": 1590,
        "y": 460,
        "wires": []
    },
    {
        "id": "07c74490cafdc55a",
        "type": "victron-input-battery",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.battery/289",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/289",
            "name": "SmartShunt IP65 300A"
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "type": "float",
            "name": "Battery voltage (V)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "87b4ad2bc3ec6903"
            ]
        ]
    },
    {
        "id": "1d4e50f4d614e8a5",
        "type": "change",
        "z": "995ac4ed6222a706",
        "name": "Tag battery voltage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "battery-voltage",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "0ee582b64b26e2e7",
        "type": "victron-input-battery",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.battery/289",
        "path": "/ConsumedAmphours",
        "serviceObj": {
            "service": "com.victronenergy.battery/289",
            "name": "SmartShunt IP65 300A"
        },
        "pathObj": {
            "path": "/ConsumedAmphours",
            "type": "float",
            "name": "Consumed Amphours (Ah)"
        },
        "name": "Battery SmartShunt consumed Ah",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "fd95dc1c428330fb"
            ]
        ]
    },
    {
        "id": "fd95dc1c428330fb",
        "type": "delay",
        "z": "995ac4ed6222a706",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 620,
        "wires": [
            [
                "b2064b2168543e59"
            ]
        ]
    },
    {
        "id": "b2064b2168543e59",
        "type": "change",
        "z": "995ac4ed6222a706",
        "name": "Tag battery consumed Ah",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "battery-consumed-ah",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "e84b0d054ca0f956",
        "type": "delay",
        "z": "995ac4ed6222a706",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "efb076ae80adc1c5"
            ]
        ]
    },
    {
        "id": "efb076ae80adc1c5",
        "type": "change",
        "z": "995ac4ed6222a706",
        "name": "Tag grid power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "grid-power",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "e4766632305fb432",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Battery + Grid Controller",
        "func": "// ==========================\n// LOGIC SUMMARY / CHANGE NOTES\n// ==========================\n// Flow version rule:\n// - the Node-RED tab label in `flows.json` uses `d#<n>` as the deployed flow version marker\n// - increment that marker every time `flows.json` changes so the active Node-RED flow version is visible\n// - keep this file, the embedded controller function, and the tab version rule synchronized\n// Current behavior implemented after iterative tuning:\n// 1. This function now has 6 outputs:\n//    - output 1 -> DVCC charge current limit (A)\n//    - output 2 -> ESS grid setpoint (W)\n//    - output 3 -> VE.Bus AC input current limit (A)\n//    - output 4 -> notification/log message when the grid setpoint changes\n//    - output 5 -> hourly energy rollover message for log/summary writers\n//    - output 6 -> structured controller trace payload for debugging\n// 2. The function accepts multiple message types:\n//    - `topic = battery-voltage` -> updates battery voltage state\n//    - `topic = battery-consumed-ah` -> updates the BMS net consumed Ah deficit\n//    - `topic = grid-power` -> updates measured grid import power in W\n//      (preferred source: GX System GRID CT sensor, e.g. `/Ac/Grid/L1/Power`)\n//    - `topic = ac-load-power` -> updates measured AC loads power in W\n//      (source: GX System `/Ac/Consumption/L1/Power`)\n//    - `topic = manual-discharge` -> starts/stops a manual discharge override\n//    - `topic = manual-discharge-stop-voltage` -> updates the manual discharge auto-stop voltage\n//    - any other topic / inject -> recalculates outputs using stored state\n// 3. Battery restoration uses BMS Consumed Amphours as the net deficit to refill.\n// 4. Grid charging happens only in NIGHT and MORNING windows and runs at 25A when needed.\n// 5. Night charging starts only when the remaining deficit can no longer be covered by\n//    the remaining MORNING window alone; MORNING charges any remaining grid deficit.\n// 6. Base grid setpoint schedule:\n//    - 2850W at night\n//    - 1980W during the rest of the day\n// 7. High-voltage protection for unknown external MPPT charging:\n//    - start limiting when battery voltage rises above 55.4V\n//    - release only after voltage drops back to 55.2V or lower\n//    - taper grid setpoint smoothly down to a minimum of 200W by 55.6V\n// 8. Hourly import Wh is tracked for display only:\n//    - integrates positive grid import within the current clock hour\n//    - shows accumulated Wh together with the actual accumulation start/end time in status\n//    - does not change charge current, grid setpoint, or any other output\n// 9. Solar prediction is connected to restoration planning:\n//    - reads `flow.solarForecastToday`\n//    - accepts forecast only when it is for the current day and <= 18h old\n//    - converts forecast energy to estimated battery Ah restoration\n//    - subtracts predicted solar restoration from the grid-restoration target\n//    - uses the forecasted energy amount directly; condition stays informational\n//    - does not change grid setpoint directly\n// 10. Remaining average watts left in the current hour are shown for info only when\n//    tracking for that hour started at the beginning of the hour.\n// 11. Final grid setpoint is the minimum of:\n//    - base schedule\n//    - high-voltage limit\n// 12. Grid setpoint reduction due to battery over-voltage is smoothed so the battery does not\n//     see large sudden load changes.\n// 13. VE.Bus Input 1 current limit is no longer controlled by this function.\n// 14. A VRM notification is emitted when the grid setpoint changes.\n// 15. `boostActive`, `activeWindow`, battery voltage, grid power, and display-only hourly Wh are\n//     all stored in context.\n// 16. `day-night.txt` and the embedded `func` in `flows.json` must always stay synchronized.\n// 17. Increment the `d#<n>` tab version in `flows.json` every time the flow file changes.\n// 18. AC loads hourly Wh is tracked for display only (same integration logic as grid import Wh).\n// 19. Notifications are written to a daily file at `/data/grid-control-logs/grid-control-YYYY-MM-DD.log`.\n//     Old log files are pruned automatically; files older than 45 days are deleted at midnight.\n// 20. Manual discharge can be started/stopped with inject nodes:\n//     - while active it overrides the normal schedule\n//     - ESS grid setpoint is raised/lowered dynamically but never below 200W import\n//     - battery discharge is capped to the equivalent of 20A using the live battery voltage\n//     - the override is suspended whenever AC loads rise above 3000W\n//     - when suspended by high load, normal day/night grid setpoint control is used\n//     - the override auto-stops when battery voltage reaches the configured stop voltage or lower\n\n// ==========================\n// INPUT / OUTPUT TOPICS\n// ==========================\nconst BATTERY_TOPIC = \"battery-voltage\";\nconst BATTERY_CONSUMED_AH_TOPIC = \"battery-consumed-ah\";\nconst GRID_TOPIC = \"grid-power\";\nconst AC_LOAD_TOPIC = \"ac-load-power\";\nconst MANUAL_DISCHARGE_TOPIC = \"manual-discharge\";\nconst MANUAL_DISCHARGE_STOP_VOLTAGE_TOPIC = \"manual-discharge-stop-voltage\";\n\n// ==========================\n// CONSTANTS\n// ==========================\nconst MAX_CHARGE_CURRENT = 25;\nconst BATTERY_NOMINAL_VOLTAGE = 52;\nconst SOLAR_TO_BATTERY_EFFICIENCY = 0.9;\nconst RESTORE_AH_DEADBAND = 0.5;\n\nconst SOLAR_FORECAST_MAX_AGE_HOURS = 18;\n\nconst DAY_BASE_GRID_SETPOINT = 1980;\nconst NIGHT_BASE_GRID_SETPOINT = 2850;\nconst DAY_HOURLY_BUDGET_W = 1980;\nconst NIGHT_HOURLY_BUDGET_W = 2850;\n\nconst HIGH_VOLTAGE_LIMIT_START = 55.4;\nconst HIGH_VOLTAGE_LIMIT_RELEASE = 55.2;\nconst HIGH_VOLTAGE_LIMIT_FULL = 55.6;\nconst MIN_GRID_SETPOINT = 200;\nconst MAX_GRID_STEP_W = 100;\nconst MANUAL_DISCHARGE_MIN_GRID_W = 200;\nconst MANUAL_DISCHARGE_MAX_AC_LOAD_W = 3000;\nconst MANUAL_DISCHARGE_STOP_VOLTAGE = 54;\nconst MANUAL_DISCHARGE_MAX_CURRENT = 20;\n\n// ==========================\n// TIME\n// ==========================\nconst now = new Date();\nconst hour = now.getHours();\nconst minute = now.getMinutes();\nconst second = now.getSeconds();\n\n// ==========================\n// CONTEXT MEMORY\n// ==========================\nlet boostActive = context.get(\"boostActive\") || false;\nconst previousWindow = context.get(\"activeWindow\") || \"none\";\nlet batteryVoltage = Number(context.get(\"batteryVoltage\"));\nconst rawStoredConsumedAh = context.get(\"batteryConsumedAh\");\nlet consumedAhDeficit = Number.isFinite(Number(rawStoredConsumedAh)) ? Math.max(0, Number(rawStoredConsumedAh)) : Number.NaN;\nconst rawStoredGridPower = context.get(\"gridPowerW\");\nconst hasGridPowerReading = rawStoredGridPower !== undefined && rawStoredGridPower !== null && Number.isFinite(Number(rawStoredGridPower));\nconst storedGridPowerW = hasGridPowerReading ? Math.max(0, Number(rawStoredGridPower)) : 0;\nlet gridPowerW = storedGridPowerW;\nconst rawStoredAcLoadPower = context.get(\"acLoadPowerW\");\nconst hasAcLoadReading = rawStoredAcLoadPower !== undefined && rawStoredAcLoadPower !== null && Number.isFinite(Number(rawStoredAcLoadPower));\nconst storedAcLoadPowerW = hasAcLoadReading ? Math.max(0, Number(rawStoredAcLoadPower)) : 0;\nconst rawStoredManualDischargeStopVoltage = context.get(\"manualDischargeStopVoltage\");\nlet voltageLimitActive = context.get(\"voltageLimitActive\") || false;\nconst previousGridSetpoint = Number(context.get(\"gridSetpoint\"));\nlet manualDischargeStopVoltage = Number.isFinite(Number(rawStoredManualDischargeStopVoltage))\n    ? Number(rawStoredManualDischargeStopVoltage)\n    : MANUAL_DISCHARGE_STOP_VOLTAGE;\nlet manualDischarge = context.get(\"manualDischarge\") || {\n    active: false,\n    startedAt: \"\",\n    source: \"\"\n};\nlet hourBudget = context.get(\"hourBudget\") || {\n    hourKey: \"\",\n    lastTs: 0,\n    usedWh: 0,\n    startTs: 0,\n    fullHourCoverage: false\n};\nlet acLoadBudget = context.get(\"acLoadBudget\") || {\n    hourKey: \"\",\n    lastTs: 0,\n    usedWh: 0,\n    startTs: 0,\n    fullHourCoverage: false\n};\n\n// ==========================\n// HELPERS\n// ==========================\nfunction clamp(value, min, max) {\n    return Math.min(Math.max(value, min), max);\n}\n\nfunction round1(value) {\n    return Math.round(value * 10) / 10;\n}\n\nfunction getHourKey(date) {\n    return [\n        date.getFullYear(),\n        String(date.getMonth() + 1).padStart(2, \"0\"),\n        String(date.getDate()).padStart(2, \"0\")\n    ].join(\"-\") + \" \" + String(date.getHours()).padStart(2, \"0\");\n}\n\nfunction getHourStartTs(date) {\n    return new Date(\n        date.getFullYear(),\n        date.getMonth(),\n        date.getDate(),\n        date.getHours(),\n        0,\n        0,\n        0\n    ).getTime();\n}\n\nfunction getDayKey(date) {\n    return [\n        date.getFullYear(),\n        String(date.getMonth() + 1).padStart(2, \"0\"),\n        String(date.getDate()).padStart(2, \"0\")\n    ].join(\"-\");\n}\n\nfunction formatTime(date) {\n    return `${String(date.getHours()).padStart(2, \"0\")}:${String(date.getMinutes()).padStart(2, \"0\")}`;\n}\n\nfunction getSolarForecastSummary(date) {\n    const rawForecast = flow.get(\"solarForecastToday\");\n\n    if (!rawForecast || typeof rawForecast !== \"object\") {\n        return {\n            valid: false,\n            condition: \"unknown\",\n            energyKWh: 0,\n            peakKW: 0\n        };\n    }\n\n    const updatedAt = new Date(rawForecast.updatedAt);\n    const ageHours = Number.isFinite(updatedAt.getTime())\n        ? (date.getTime() - updatedAt.getTime()) / 3600000\n        : Number.POSITIVE_INFINITY;\n    const sameDay = Number.isFinite(updatedAt.getTime())\n        ? getDayKey(updatedAt) === getDayKey(date)\n        : false;\n\n    return {\n        valid: sameDay && ageHours >= 0 && ageHours <= SOLAR_FORECAST_MAX_AGE_HOURS,\n        condition: String(rawForecast.condition || \"unknown\").toLowerCase(),\n        energyKWh: Number(rawForecast.energyKWh) || 0,\n        peakKW: Number(rawForecast.peakKW) || 0\n    };\n}\n\nfunction normalizeConsumedAh(value) {\n    const numeric = Number(value);\n\n    if (!Number.isFinite(numeric)) {\n        return Number.NaN;\n    }\n\n    if (numeric < 0) {\n        return Math.max(0, -numeric);\n    }\n\n    return Math.max(0, numeric);\n}\n\nfunction getForecastRestoreAh(forecast, voltage) {\n    if (!forecast.valid || forecast.energyKWh <= 0) {\n        return 0;\n    }\n\n    const referenceVoltage = Number.isFinite(voltage) && voltage > 0\n        ? voltage\n        : BATTERY_NOMINAL_VOLTAGE;\n\n    return (forecast.energyKWh * 1000 * SOLAR_TO_BATTERY_EFFICIENCY) / referenceVoltage;\n}\n\nfunction getRemainingNightHours(date) {\n    const currentHour = date.getHours();\n    const inNightWindow = currentHour >= 22 || currentHour < 6;\n\n    if (!inNightWindow) {\n        return 0;\n    }\n\n    const end = new Date(date);\n    if (currentHour >= 22) {\n        end.setDate(end.getDate() + 1);\n    }\n    end.setHours(6, 0, 0, 0);\n    return Math.max(0, (end.getTime() - date.getTime()) / 3600000);\n}\n\nfunction getRemainingMorningHours(date) {\n    const currentHour = date.getHours();\n\n    if (currentHour < 6 || currentHour >= 22) {\n        return 6;\n    }\n\n    if (currentHour >= 6 && currentHour < 12) {\n        const end = new Date(date);\n        end.setHours(12, 0, 0, 0);\n        return Math.max(0, (end.getTime() - date.getTime()) / 3600000);\n    }\n\n    return 0;\n}\n\nfunction advanceHourBudget(state, date, importPowerW) {\n    const nextState = {\n        hourKey: state.hourKey || \"\",\n        lastTs: Number(state.lastTs) || 0,\n        usedWh: Number(state.usedWh) || 0,\n        startTs: Number(state.startTs) || 0,\n        fullHourCoverage: Boolean(state.fullHourCoverage)\n    };\n\n    const nowTs = date.getTime();\n    const hourKey = getHourKey(date);\n    const hourStartTs = getHourStartTs(date);\n\n    if (!nextState.lastTs || nextState.hourKey !== hourKey || nextState.lastTs < hourStartTs) {\n        nextState.hourKey = hourKey;\n        nextState.lastTs = hourStartTs;\n        nextState.usedWh = 0;\n        nextState.startTs = date.getMinutes() === 0 ? hourStartTs : nowTs;\n        nextState.fullHourCoverage = date.getMinutes() === 0;\n    }\n\n    if (nowTs > nextState.lastTs) {\n        const deltaHours = (nowTs - nextState.lastTs) / 3600000;\n        nextState.usedWh += Math.max(0, importPowerW) * deltaHours;\n        nextState.lastTs = nowTs;\n    }\n\n    return nextState;\n}\n\nfunction smoothReduction(previousValue, targetValue, maxStep) {\n    if (!Number.isFinite(previousValue)) {\n        return targetValue;\n    }\n\n    if (targetValue < previousValue - maxStep) {\n        return previousValue - maxStep;\n    }\n\n    if (targetValue > previousValue + maxStep) {\n        return previousValue + maxStep;\n    }\n\n    return targetValue;\n}\n\nfunction parseManualDischargeCommand(input) {\n    if (input === true || input === \"start\" || input === \"on\") {\n        return { active: true, source: \"inject\" };\n    }\n\n    if (input === false || input === \"stop\" || input === \"off\") {\n        return { active: false, source: \"inject\" };\n    }\n\n    if (!input || typeof input !== \"object\") {\n        return null;\n    }\n\n    if (input.active === true || input.enabled === true || input.command === \"start\") {\n        return {\n            active: true,\n            source: String(input.source || input.reason || \"inject\")\n        };\n    }\n\n    if (input.active === false || input.enabled === false || input.command === \"stop\") {\n        return {\n            active: false,\n            source: String(input.source || input.reason || \"inject\")\n        };\n    }\n\n    return null;\n}\n\nfunction buildNotification(window, gridSetpoint) {\n    const parts = [\n        `${window}`,\n        `V=${batteryVoltage.toFixed(2)}V`,\n        `Grid setpoint=${gridSetpoint}W`\n    ];\n\n    if (limitFlags.length > 0) {\n        parts.push(`Limit=${limitFlags.join(\"+\")}`);\n    }\n\n    return {\n        topic: \"vrm-notification\",\n        payload: parts.join(\" | \"),\n        notification: {\n            message: parts.join(\" | \"),\n            level: \"info\",\n            timestamp: now.toISOString()\n        }\n    };\n}\n\nfunction buildTraceOutput(chargeCurrent, gridSetpoint, hourlyLogMsg) {\n    return {\n        topic: \"controller-trace\",\n        payload: {\n            timestamp: now.toISOString(),\n            inputTopic: msg.topic || \"\",\n            inputPayload: msg.payload,\n            window: windowName,\n            previousWindow,\n            batteryVoltage: round1(batteryVoltage),\n            consumedAhDeficit: round1(consumedAhDeficit),\n            solarForecast: {\n                valid: solarForecast.valid,\n                condition: solarForecast.condition,\n                energyKWh: round1(solarForecast.energyKWh),\n                peakKW: round1(solarForecast.peakKW)\n            },\n            forecastRestoreAh: round1(forecastRestoreAh),\n            gridRestoreAhNeeded: round1(gridRestoreAhNeeded),\n            remainingNightHours: round1(remainingNightHours),\n            remainingMorningHours: round1(remainingMorningHours),\n            remainingMorningCapacityAh: round1(remainingMorningCapacityAh),\n            boostActive,\n            manualDischargeStopVoltage: round1(manualDischargeStopVoltage),\n            manualDischarge,\n            voltageLimitActive,\n            baseScheduleSetpoint,\n            voltageLimitedSetpoint,\n            finalGridSetpoint: gridSetpoint,\n            baseChargeCurrent: round1(baseChargeCurrent),\n            finalChargeCurrent: round1(chargeCurrent),\n            storedGridPowerW: Math.round(storedGridPowerW),\n            storedAcLoadPowerW: Math.round(storedAcLoadPowerW),\n            hourBudget: {\n                hourKey: hourBudget.hourKey,\n                usedWh: Math.round(usedWh),\n                fullHourCoverage: hourBudget.fullHourCoverage,\n                startTs: hourBudget.startTs || 0\n            },\n            acLoadBudget: {\n                hourKey: acLoadBudget.hourKey,\n                usedWh: Math.round(acUsedWh),\n                fullHourCoverage: acLoadBudget.fullHourCoverage,\n                startTs: acLoadBudget.startTs || 0\n            },\n            hourRolledOver,\n            hourlyLogMsg: hourlyLogMsg || null,\n            limitFlags: limitFlags.slice()\n        }\n    };\n}\n\nfunction buildOutputs(chargeCurrent, gridSetpoint, hourlyLogMsg) {\n    const notifyMsg =\n        gridSetpoint !== previousGridSetpoint\n            ? buildNotification(windowName, gridSetpoint)\n            : null;\n    const traceMsg = buildTraceOutput(chargeCurrent, gridSetpoint, hourlyLogMsg);\n\n    return [\n        {\n            topic: \"charge-current-limit\",\n            payload: chargeCurrent\n        },\n        {\n            topic: \"grid-setpoint\",\n            payload: gridSetpoint\n        },\n        {\n            topic: \"ac-input-current-limit\",\n            payload: null\n        },\n        notifyMsg,\n        hourlyLogMsg || null,\n        traceMsg\n    ];\n}\n\n// ==========================\n// UPDATE STORED INPUTS\n// ==========================\nconst prevHourKey = hourBudget.hourKey;\nconst prevHourGridWh = Number(hourBudget.usedWh) || 0;\nconst prevHourAcWh = Number(acLoadBudget.usedWh) || 0;\nhourBudget = advanceHourBudget(hourBudget, now, storedGridPowerW);\nacLoadBudget = advanceHourBudget(acLoadBudget, now, storedAcLoadPowerW);\nconst hourRolledOver = prevHourKey && prevHourKey !== hourBudget.hourKey;\n\nif (msg.topic === BATTERY_TOPIC) {\n    const incomingVoltage = Number(msg.payload);\n\n    if (Number.isFinite(incomingVoltage)) {\n        batteryVoltage = incomingVoltage;\n        context.set(\"batteryVoltage\", batteryVoltage);\n    }\n}\nelse if (msg.topic === BATTERY_CONSUMED_AH_TOPIC) {\n    const normalizedConsumedAh = normalizeConsumedAh(msg.payload);\n\n    if (Number.isFinite(normalizedConsumedAh)) {\n        consumedAhDeficit = normalizedConsumedAh;\n        context.set(\"batteryConsumedAh\", consumedAhDeficit);\n    }\n}\nelse if (msg.topic === GRID_TOPIC) {\n    const incomingGridPower = Number(msg.payload);\n\n    if (Number.isFinite(incomingGridPower)) {\n        gridPowerW = Math.max(0, incomingGridPower);\n        context.set(\"gridPowerW\", gridPowerW);\n    }\n}\nelse if (msg.topic === AC_LOAD_TOPIC) {\n    const incomingAcLoadPower = Number(msg.payload);\n\n    if (Number.isFinite(incomingAcLoadPower)) {\n        context.set(\"acLoadPowerW\", Math.max(0, incomingAcLoadPower));\n    }\n}\nelse if (msg.topic === MANUAL_DISCHARGE_TOPIC) {\n    const manualCommand = parseManualDischargeCommand(msg.payload);\n\n    if (manualCommand) {\n        manualDischarge = {\n            active: manualCommand.active,\n            startedAt: manualCommand.active ? now.toISOString() : \"\",\n            source: manualCommand.source || \"inject\"\n        };\n        context.set(\"manualDischarge\", manualDischarge);\n    }\n}\nelse if (msg.topic === MANUAL_DISCHARGE_STOP_VOLTAGE_TOPIC) {\n    const incomingStopVoltage = Number(msg.payload);\n\n    if (Number.isFinite(incomingStopVoltage) && incomingStopVoltage >= 50 && incomingStopVoltage <= 60) {\n        manualDischargeStopVoltage = incomingStopVoltage;\n        context.set(\"manualDischargeStopVoltage\", manualDischargeStopVoltage);\n    }\n}\n\ncontext.set(\"hourBudget\", hourBudget);\ncontext.set(\"acLoadBudget\", acLoadBudget);\n\nif (!Number.isFinite(batteryVoltage)) {\n    node.status({\n        fill: \"grey\",\n        shape: \"ring\",\n        text: \"WAITING FOR BATTERY VOLTAGE\"\n    });\n    return null;\n}\n\nif (!Number.isFinite(consumedAhDeficit) && !manualDischarge.active) {\n    node.status({\n        fill: \"grey\",\n        shape: \"ring\",\n        text: \"WAITING FOR BMS CONSUMED AH\"\n    });\n    return null;\n}\n\n// ==========================\n// TIME WINDOWS\n// ==========================\nconst nightWindow = (hour >= 22 || hour < 6);\n\nconst morningWindow =\n    (hour > 6 && hour < 11) ||\n    (hour === 6) ||\n    (hour === 11 && minute <= 59);\n\nconst eveningWindow = hour >= 17;\n\nconst baseScheduleSetpoint = nightWindow ? NIGHT_BASE_GRID_SETPOINT : DAY_BASE_GRID_SETPOINT;\nconst hourlyBudgetLimit = nightWindow ? NIGHT_HOURLY_BUDGET_W : DAY_HOURLY_BUDGET_W;\n\n// ==========================\n// CAPACITY RESTORATION LOGIC\n// ==========================\nlet windowName = \"OUTSIDE\";\nlet baseChargeCurrent = 0;\nconst solarForecast = getSolarForecastSummary(now);\nconst effectiveConsumedAhDeficit = Number.isFinite(consumedAhDeficit) ? consumedAhDeficit : 0;\nconst forecastRestoreAh = getForecastRestoreAh(solarForecast, batteryVoltage);\nconst gridRestoreAhNeeded = Math.max(0, effectiveConsumedAhDeficit - forecastRestoreAh);\nconst remainingNightHours = getRemainingNightHours(now);\nconst remainingMorningHours = getRemainingMorningHours(now);\nconst remainingMorningCapacityAh = remainingMorningHours * MAX_CHARGE_CURRENT;\nconst manualDischargeAllowedByLoad = Math.max(0, storedAcLoadPowerW) <= MANUAL_DISCHARGE_MAX_AC_LOAD_W;\nconst morningSolarChargeHold = solarForecast.valid && forecastRestoreAh > 0 && batteryVoltage > 53.7;\n\nif (manualDischarge.active && batteryVoltage <= manualDischargeStopVoltage) {\n    manualDischarge = {\n        active: false,\n        startedAt: \"\",\n        source: \"auto-stop-low-voltage\"\n    };\n    context.set(\"manualDischarge\", manualDischarge);\n}\n\nconst manualDischargeEnabled = manualDischarge.active && manualDischargeAllowedByLoad;\n\nif (manualDischargeEnabled) {\n    windowName = \"MANUAL-DISCHARGE\";\n    boostActive = false;\n    baseChargeCurrent = 0;\n}\nelse if (nightWindow) {\n    windowName = \"NIGHT\";\n    boostActive = gridRestoreAhNeeded > Math.max(RESTORE_AH_DEADBAND, remainingMorningCapacityAh);\n    baseChargeCurrent = boostActive ? MAX_CHARGE_CURRENT : 0;\n}\nelse if (morningWindow) {\n    windowName = \"MORNING\";\n    boostActive = !morningSolarChargeHold && gridRestoreAhNeeded > RESTORE_AH_DEADBAND;\n    baseChargeCurrent = boostActive ? MAX_CHARGE_CURRENT : 0;\n}\nelse if (eveningWindow) {\n    windowName = \"EVENING\";\n    boostActive = false;\n    baseChargeCurrent = boostActive ? MAX_CHARGE_CURRENT : 0;\n}\nelse {\n    boostActive = false;\n    baseChargeCurrent = 0;\n}\n\n// ==========================\n// HIGH-VOLTAGE GRID SETPOINT LIMIT\n// ==========================\nif (!voltageLimitActive && batteryVoltage > HIGH_VOLTAGE_LIMIT_START) {\n    voltageLimitActive = true;\n}\n\nif (voltageLimitActive && batteryVoltage <= HIGH_VOLTAGE_LIMIT_RELEASE) {\n    voltageLimitActive = false;\n}\n\nlet voltageLimitedSetpoint = baseScheduleSetpoint;\n\nif (voltageLimitActive) {\n    const taper = clamp(\n        (HIGH_VOLTAGE_LIMIT_FULL - batteryVoltage) /\n        (HIGH_VOLTAGE_LIMIT_FULL - HIGH_VOLTAGE_LIMIT_START),\n        0,\n        1\n    );\n\n    voltageLimitedSetpoint = Math.round(\n        MIN_GRID_SETPOINT + (baseScheduleSetpoint - MIN_GRID_SETPOINT) * taper\n    );\n}\n\n// Apply smoothing only to the voltage-based reduction so the battery does not see large jumps.\nif (voltageLimitActive) {\n    voltageLimitedSetpoint = Math.round(\n        smoothReduction(\n            previousGridSetpoint,\n            voltageLimitedSetpoint,\n            MAX_GRID_STEP_W\n        )\n    );\n}\n\n// ==========================\n// FINAL OUTPUTS\n// ==========================\nconst manualDischargePowerW = Math.round(\n    Math.max(0, batteryVoltage) * MANUAL_DISCHARGE_MAX_CURRENT\n);\n\nconst manualGridSetpoint = Math.max(\n    MANUAL_DISCHARGE_MIN_GRID_W,\n    Math.round(Math.max(0, storedAcLoadPowerW) - manualDischargePowerW)\n);\n\nconst finalGridSetpoint = manualDischargeEnabled\n    ? manualGridSetpoint\n    : Math.max(\n        0,\n        Math.round(\n            Math.min(\n                baseScheduleSetpoint,\n                voltageLimitedSetpoint\n            )\n        )\n    );\n\nconst currentRatio = baseScheduleSetpoint > 0\n    ? clamp(finalGridSetpoint / baseScheduleSetpoint, 0, 1)\n    : 0;\n\nconst finalChargeCurrent = manualDischargeEnabled\n    ? 0\n    : (baseChargeCurrent > 0\n        ? round1(baseChargeCurrent * currentRatio)\n        : 0);\nconst usedWh = hourBudget.usedWh || 0;\nconst acUsedWh = acLoadBudget.usedWh || 0;\nconst usedEnergyStartLabel = formatTime(new Date(hourBudget.startTs || now.getTime()));\nconst usedEnergyEndLabel = formatTime(now);\nconst secondsIntoHour = minute * 60 + second;\nconst secondsLeftInHour = Math.max(1, 3600 - secondsIntoHour);\nconst hoursLeftInHour = secondsLeftInHour / 3600;\nconst remainingWh = clamp(hourlyBudgetLimit - usedWh, 0, hourlyBudgetLimit);\nconst remainingAverageW = Math.round(remainingWh / hoursLeftInHour);\nconst remainingAverageText = hourBudget.fullHourCoverage\n    ? ` | ${remainingAverageW}W left`\n    : \"\";\nconst estimatedDischargeW = manualDischargeEnabled\n    ? Math.max(0, Math.round(Math.max(0, storedAcLoadPowerW) - finalGridSetpoint))\n    : 0;\nconst estimatedDischargeA = manualDischargeEnabled && batteryVoltage > 0\n    ? round1(estimatedDischargeW / batteryVoltage)\n    : 0;\n\ncontext.set(\"boostActive\", boostActive);\ncontext.set(\"activeWindow\", windowName);\ncontext.set(\"voltageLimitActive\", voltageLimitActive);\ncontext.set(\"gridSetpoint\", finalGridSetpoint);\ncontext.set(\"manualDischarge\", manualDischarge);\n\n// ==========================\n// STATUS\n// ==========================\nconst limitFlags = [];\n\nif (voltageLimitActive && finalGridSetpoint <= voltageLimitedSetpoint) {\n    limitFlags.push(\"HV\");\n}\n\nif (solarForecast.valid && forecastRestoreAh > 0) {\n    limitFlags.push(`SOL:${solarForecast.condition.toUpperCase()}`);\n}\n\nif (manualDischargeEnabled) {\n    limitFlags.push(`MD:${MANUAL_DISCHARGE_MAX_CURRENT}A`);\n}\nelse if (manualDischarge.active && !manualDischargeAllowedByLoad) {\n    limitFlags.push(`MD-HOLD>${MANUAL_DISCHARGE_MAX_AC_LOAD_W}W`);\n}\n\nlet fill = \"grey\";\n\nif (windowName === \"MANUAL-DISCHARGE\") {\n    fill = \"red\";\n}\nelse if (windowName === \"NIGHT\") {\n    fill = finalChargeCurrent > 0 ? \"blue\" : \"yellow\";\n}\nelse if (windowName === \"MORNING\" || windowName === \"EVENING\") {\n    fill = finalChargeCurrent > 0 ? \"green\" : \"yellow\";\n}\n\nconst flagsText = limitFlags.length > 0 ? ` | ${limitFlags.join(\"+\")}` : \"\";\nconst forecastText = solarForecast.valid\n    ? ` | SOL ${solarForecast.condition} ${forecastRestoreAh.toFixed(1)}Ah`\n    : \"\";\nconst restoreText = ` | Def ${effectiveConsumedAhDeficit.toFixed(1)}Ah | Grid ${gridRestoreAhNeeded.toFixed(1)}Ah`;\nconst manualText = manualDischarge.active\n    ? (manualDischargeEnabled\n        ? ` | Grid>=${MANUAL_DISCHARGE_MIN_GRID_W}W | Dis ${estimatedDischargeA.toFixed(1)}A/${MANUAL_DISCHARGE_MAX_CURRENT}A | AC<=${MANUAL_DISCHARGE_MAX_AC_LOAD_W}W | Stop<=${manualDischargeStopVoltage.toFixed(1)}V`\n        : ` | MD hold AC>${MANUAL_DISCHARGE_MAX_AC_LOAD_W}W | Using schedule | Stop<=${manualDischargeStopVoltage.toFixed(1)}V`)\n    : \"\";\n\nnode.status({\n    fill,\n    shape: finalChargeCurrent > 0 || finalGridSetpoint !== 0 ? \"dot\" : \"ring\",\n    text: `${windowName} | V=${batteryVoltage.toFixed(2)}V | ${finalChargeCurrent}A | ${finalGridSetpoint}W${restoreText}${manualText} | Grid ${usedEnergyStartLabel}-${usedEnergyEndLabel} ${Math.round(usedWh)}Wh | AC ${Math.round(acUsedWh)}Wh${remainingAverageText}${forecastText}${flagsText}`\n});\n\nconst hourlyLogMsg = hourRolledOver\n    ? { topic: \"hourly-energy\", payload: { hourKey: prevHourKey, gridWh: Math.round(prevHourGridWh), acWh: Math.round(prevHourAcWh) } }\n    : null;\n\nreturn buildOutputs(\n    finalChargeCurrent,\n    finalGridSetpoint,\n    hourlyLogMsg\n);",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 520,
        "wires": [
            [
                "c1803b5fed00bfc2"
            ],
            [
                "70b033ccd4654b3e"
            ],
            [],
            [
                "233d4e08d8a8fe38"
            ],
            [
                "69795160ade5462a",
                "3e942ddd06fba83c"
            ],
            [
                "5545bd538ffe3183",
                "6b9848413d671fe5",
                "e55aa7c921171c88"
            ]
        ]
    },
    {
        "id": "5545bd538ffe3183",
        "type": "debug",
        "z": "995ac4ed6222a706",
        "name": "DBG controller trace",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 820,
        "wires": []
    },
    {
        "id": "1b39f33beca11607",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "START manual discharge 20A",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "manual-discharge",
        "payload": "{\"active\":true,\"source\":\"inject-start\"}",
        "payloadType": "json",
        "x": 1480,
        "y": 40,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "75f48e33343da04e",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "STOP manual discharge",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "manual-discharge",
        "payload": "{\"active\":false,\"source\":\"inject-stop\"}",
        "payloadType": "json",
        "x": 1490,
        "y": 100,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "ea80f613a4a9424a",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "TEST notification",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Manual test notification from Day / Night Grid Control",
        "payloadType": "str",
        "x": 760,
        "y": 380,
        "wires": [
            [
                "58e14304c415b27e"
            ]
        ]
    },
    {
        "id": "58e14304c415b27e",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Format GX notification",
        "func": "const defaultTitle = \"Day / Night Grid Control\";\n\nfunction normalizeType(value) {\n    if (value === 0 || value === \"0\" || value === \"warning\") {\n        return 0;\n    }\n\n    if (value === 1 || value === \"1\" || value === \"alarm\") {\n        return 1;\n    }\n\n    return 2;\n}\n\nconst title = msg.title || (msg.notification && msg.notification.title) || defaultTitle;\nconst rawType = msg.type !== undefined\n    ? msg.type\n    : (msg.notification && (msg.notification.type !== undefined ? msg.notification.type : msg.notification.level));\nconst rawMessage = (msg.notification && msg.notification.message) || msg.payload;\n\nif (rawMessage === undefined || rawMessage === null || rawMessage === \"\") {\n    return null;\n}\n\nconst safeTitle = String(title)\n    .replace(/\\t/g, \" \")\n    .replace(/[\\r\\n]/g, \" \")\n    .trim()\n    .slice(0, 100);\n\nconst safeMessage = String(rawMessage)\n    .replace(/\\t/g, \" \")\n    .replace(/[\\r\\n]/g, \" \")\n    .trim()\n    .slice(0, 500);\n\nmsg.payload = `${normalizeType(rawType)}\\t${safeTitle}\\t${safeMessage}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "1a26cadbd6ae5765"
            ]
        ]
    },
    {
        "id": "1a26cadbd6ae5765",
        "type": "victron-output-custom",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.system/0",
        "path": "/Notifications/Inject",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "com.victronenergy.system (0)"
        },
        "initial": "",
        "name": "GX notification output",
        "onlyChanges": false,
        "x": 1360,
        "y": 320,
        "wires": []
    },
    {
        "id": "87b4ad2bc3ec6903",
        "type": "delay",
        "z": "995ac4ed6222a706",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "1d4e50f4d614e8a5"
            ]
        ]
    },
    {
        "id": "751d13b6d943e5e5",
        "type": "victron-input-system",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.system/0",
        "path": "/Ac/Grid/L1/Power",
        "serviceObj": {
            "service": "com.victronenergy.system/0",
            "name": "Venus system"
        },
        "pathObj": {
            "path": "/Ac/Grid/L1/Power",
            "type": "float",
            "name": "Grid L1 (W)"
        },
        "name": "GRID CT import power",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "e84b0d054ca0f956"
            ]
        ]
    },
    {
        "id": "704426f76aa6aa4c",
        "type": "link in",
        "z": "995ac4ed6222a706",
        "name": "Grid import power override (W)",
        "links": [],
        "x": 265,
        "y": 400,
        "wires": [
            [
                "e84b0d054ca0f956"
            ]
        ]
    },
    {
        "id": "c1803b5fed00bfc2",
        "type": "delay",
        "z": "995ac4ed6222a706",
        "name": "Delay 10s",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 460,
        "wires": [
            [
                "902ee92400d4d4af"
            ]
        ]
    },
    {
        "id": "0f01a2551ae68d2e",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "Refresh solar forecast 15m",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "solar-forecast-refresh",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "e6a5ce1f50c59362"
            ]
        ]
    },
    {
        "id": "e6a5ce1f50c59362",
        "type": "subflow:93f485839dfa27a8",
        "z": "995ac4ed6222a706",
        "name": "Solar forecast Hokksund",
        "env": [
            {
                "name": "latitude",
                "value": "59.764",
                "type": "num"
            },
            {
                "name": "longitude",
                "value": "9.902",
                "type": "num"
            },
            {
                "name": "declination",
                "value": "35",
                "type": "num"
            },
            {
                "name": "azimuth",
                "value": "0",
                "type": "num"
            },
            {
                "name": "modules power",
                "value": "5",
                "type": "num"
            },
            {
                "name": "apikey",
                "value": "",
                "type": "cred"
            },
            {
                "name": "type",
                "value": "estimate",
                "type": "str"
            },
            {
                "name": "watt",
                "value": "watts",
                "type": "str"
            },
            {
                "name": "kwhoutput",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "showtoday",
                "value": "true",
                "type": "bool"
            },
            {
                "name": "daystoforecast",
                "value": "1",
                "type": "str"
            },
            {
                "name": "widengraph",
                "value": "false",
                "type": "bool"
            }
        ],
        "x": 400,
        "y": 900,
        "wires": [
            [
                "0af0cfe3fe0b6ad9"
            ],
            []
        ]
    },
    {
        "id": "0af0cfe3fe0b6ad9",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Adjust solar forecast for shade",
        "func": "function localDayKey(date) {\n    return [\n        date.getFullYear(),\n        String(date.getMonth() + 1).padStart(2, '0'),\n        String(date.getDate()).padStart(2, '0')\n    ].join('-');\n}\n\nconst result = msg.payload && msg.payload.result;\nif (!result || typeof result !== 'object') {\n    node.status({ fill: 'red', shape: 'ring', text: 'no forecast data' });\n    return null;\n}\n\nconst shadeByHour = {\n    5: 0.02,\n    6: 0.04,\n    7: 0.06,\n    8: 0.10,\n    9: 0.18,\n    10: 0.30,\n    11: 0.55,\n    12: 0.72,\n    13: 0.78,\n    14: 0.62,\n    15: 0.50,\n    16: 0.42,\n    17: 0.32,\n    18: 0.22,\n    19: 0.14,\n    20: 0.08,\n    21: 0.03\n};\n\nconst hourlyCapW = {\n    5: 20,\n    6: 40,\n    7: 80,\n    8: 150,\n    9: 300,\n    10: 550,\n    11: 1100,\n    12: 1500,\n    13: 1500,\n    14: 1200,\n    15: 800,\n    16: 700,\n    17: 500,\n    18: 320,\n    19: 220,\n    20: 140,\n    21: 40\n};\n\nconst historicalReference = {\n    sunnyPeakKW: '1.4-1.5',\n    cloudyPeakKW: '<1.0',\n    dominantWindow: '11:00-17:00',\n    extendedWindow: '05:00-21:00'\n};\n\nconst resolution = Number(msg.resolution) || 1;\nconst periodHours = resolution > 0 ? 1 / resolution : 1;\nconst adjustedResult = {};\nconst summaryByDay = {};\n\nfor (const [key, rawValue] of Object.entries(result)) {\n    const date = new Date(key);\n    const hour = date.getHours();\n    const factor = shadeByHour[hour] || 0;\n    const shadedW = factor > 0 ? Math.round(Math.max(0, Number(rawValue) || 0) * factor) : 0;\n    const capW = hourlyCapW[hour] || 0;\n    const adjustedW = capW > 0 ? Math.min(shadedW, capW) : 0;\n    const dayKey = localDayKey(date);\n\n    adjustedResult[key] = adjustedW;\n\n    if (!summaryByDay[dayKey]) {\n        summaryByDay[dayKey] = {\n            energyWh: 0,\n            peakW: 0,\n            activeHours: 0\n        };\n    }\n\n    summaryByDay[dayKey].energyWh += adjustedW * periodHours;\n    summaryByDay[dayKey].peakW = Math.max(summaryByDay[dayKey].peakW, adjustedW);\n    if (adjustedW > 0) {\n        summaryByDay[dayKey].activeHours += periodHours;\n    }\n}\n\nconst todayKey = localDayKey(new Date());\nconst today = summaryByDay[todayKey] || { energyWh: 0, peakW: 0, activeHours: 0 };\nconst todayKWh = +(today.energyWh / 1000).toFixed(2);\nconst todayPeakKW = +(today.peakW / 1000).toFixed(2);\nconst condition = todayPeakKW >= 1.0 ? 'sunny' : (todayKWh >= 2 ? 'cloudy' : 'low');\n\nmsg.topic = 'solar-forecast-adjusted';\nmsg.payload = {\n    source: 'forecast.solar',\n    location: 'Hokksund, Norway',\n    activeWindow: '05:00-21:00',\n    dominantWindow: '11:00-17:00',\n    shading: 'trees / heavy shadow',\n    rawResult: result,\n    adjustedResult,\n    summaryByDay,\n    today: {\n        energyWh: Math.round(today.energyWh),\n        energyKWh: todayKWh,\n        peakW: today.peakW,\n        peakKW: todayPeakKW,\n        activeHours: +today.activeHours.toFixed(2),\n        condition\n    },\n    assumptions: {\n        sunnyRangeKWh: '3-5',\n        cloudyKWh: '2',\n        shadeByHour,\n        hourlyCapW,\n        historicalReference\n    }\n};\n\nnode.status({ fill: 'blue', shape: 'dot', text: `${condition} | ${todayKWh}kWh | peak ${todayPeakKW}kW` });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 900,
        "wires": [
            [
                "04915dfb9f203f67"
            ]
        ]
    },
    {
        "id": "04915dfb9f203f67",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Store solar prediction",
        "func": "const data = msg.payload || {};\nconst today = data.today || { energyKWh: 0, peakKW: 0, condition: 'unknown' };\nconst summary = {\n    updatedAt: new Date().toISOString(),\n    source: data.source || 'forecast.solar',\n    location: data.location || 'Hokksund, Norway',\n    activeWindow: data.activeWindow || '11:00-17:00',\n    condition: today.condition || 'unknown',\n    energyWh: Number(today.energyWh) || 0,\n    energyKWh: Number(today.energyKWh) || 0,\n    peakW: Number(today.peakW) || 0,\n    peakKW: Number(today.peakKW) || 0,\n    activeHours: Number(today.activeHours) || 0\n};\n\nflow.set('solarForecastAdjusted', data);\nflow.set('solarForecastToday', summary);\n\nnode.status({\n    fill: summary.energyKWh > 0 ? 'green' : 'yellow',\n    shape: 'dot',\n    text: `${summary.condition} | ${summary.energyKWh.toFixed(2)}kWh | ${summary.activeWindow}`\n});\n\nmsg.topic = 'solar-forecast-today';\nmsg.payload = summary;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 900,
        "wires": [
            [
                "e4766632305fb432",
                "e55aa7c921171c88"
            ]
        ]
    },
    {
        "id": "11e303e775ec959c",
        "type": "victron-input-system",
        "z": "995ac4ed6222a706",
        "service": "com.victronenergy.system",
        "path": "/Ac/Consumption/L1/Power",
        "serviceObj": {
            "service": "com.victronenergy.system",
            "name": "System"
        },
        "pathObj": {
            "path": "/Ac/Consumption/L1/Power",
            "type": "float",
            "name": "AC consumption L1 (W)"
        },
        "name": "AC Loads power",
        "onlyChanges": false,
        "roundValues": "0",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "ec0378c28791feff"
            ]
        ]
    },
    {
        "id": "ec0378c28791feff",
        "type": "delay",
        "z": "995ac4ed6222a706",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 580,
        "wires": [
            [
                "4ae3639bc75d0d14"
            ]
        ]
    },
    {
        "id": "4ae3639bc75d0d14",
        "type": "change",
        "z": "995ac4ed6222a706",
        "name": "Tag AC load power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ac-load-power",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "e4766632305fb432"
            ]
        ]
    },
    {
        "id": "c125191024e87a94",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Format notification for log",
        "func": "const rawMessage = (msg.notification && msg.notification.message) || (typeof msg.payload === 'string' ? msg.payload : null);\nif (!rawMessage) return null;\n\nconst ts = (msg.notification && msg.notification.timestamp) || new Date().toISOString();\nconst logLine = ts + ' | ' + rawMessage + '\\n';\n\nconst d = new Date();\nconst dateKey = [\n    d.getFullYear(),\n    String(d.getMonth() + 1).padStart(2, '0'),\n    String(d.getDate()).padStart(2, '0')\n].join('-');\n\nconst logDir = '/data/home/nodered/grid-control-logs';\nmsg.filename = logDir + '/grid-control-' + dateKey + '.log';\nmsg.payload = logLine;\nmsg.encoding = 'utf8';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 400,
        "wires": [
            [
                "76b6ca504877aa54"
            ]
        ]
    },
    {
        "id": "76b6ca504877aa54",
        "type": "file",
        "z": "995ac4ed6222a706",
        "name": "Append to daily log",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1690,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c2f366898ad94d9e",
        "type": "inject",
        "z": "995ac4ed6222a706",
        "name": "Daily cleanup midnight",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "0af20cf90708f90d"
            ]
        ]
    },
    {
        "id": "0af20cf90708f90d",
        "type": "exec",
        "z": "995ac4ed6222a706",
        "command": "find /data/home/nodered/grid-control-logs -maxdepth 1 \\( -name 'grid-control-*.log' -o -name 'energy-*.log' -o -name 'summary-*.log' \\) -mtime +45 -delete 2>/dev/null; echo done",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "Delete logs older than 45 days",
        "x": 460,
        "y": 1000,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "69795160ade5462a",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Format hourly energy line",
        "func": "if (!msg.payload || !msg.payload.hourKey) return null;\nconst { hourKey, gridWh, acWh } = msg.payload;\nconst dateKey = hourKey.substring(0, 10);\nconst hourLabel = hourKey.substring(11, 13);\nconst line = dateKey + ' ' + hourLabel + ':00 | Grid ' + gridWh + 'Wh | AC ' + acWh + 'Wh\\n';\nmsg.filename = '/data/home/nodered/grid-control-logs/energy-' + dateKey + '.log';\nmsg.payload = line;\nmsg.encoding = 'utf8';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 700,
        "wires": [
            [
                "bb946fa3e17a4fd1"
            ]
        ]
    },
    {
        "id": "bb946fa3e17a4fd1",
        "type": "file",
        "z": "995ac4ed6222a706",
        "name": "Append to hourly energy log",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 400,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "3e942ddd06fba83c",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Update daily summary",
        "func": "if (!msg.payload || !msg.payload.hourKey) return null;\nconst { hourKey, gridWh, acWh } = msg.payload;\nconst dateKey = hourKey.substring(0, 10);\nconst hourLabel = hourKey.substring(11, 13) + ':00';\n\nlet summary = flow.get('dailySummary') || { dateKey: '', hours: [] };\nif (summary.dateKey !== dateKey) {\n    summary = { dateKey, hours: [] };\n}\nsummary.hours = summary.hours.filter(h => h.hour !== hourLabel);\nsummary.hours.push({ hour: hourLabel, gridWh, acWh });\nsummary.hours.sort((a, b) => a.hour.localeCompare(b.hour));\nflow.set('dailySummary', summary);\n\nconst totalGrid = summary.hours.reduce((s, h) => s + h.gridWh, 0);\nconst totalAc = summary.hours.reduce((s, h) => s + h.acWh, 0);\nconst lines = summary.hours.map(h => dateKey + ' ' + h.hour + ' | Grid ' + h.gridWh + 'Wh | AC ' + h.acWh + 'Wh');\nlines.push('');\nlines.push('TOTAL | Grid ' + totalGrid + 'Wh | AC ' + totalAc + 'Wh');\n\nconst fileMsg = {\n    payload: lines.join('\\n') + '\\n',\n    filename: '/data/home/nodered/grid-control-logs/summary-' + dateKey + '.log',\n    encoding: 'utf8'\n};\n\nconst chart = {\n    labels: summary.hours.map(h => h.hour),\n    series: ['Grid Wh', 'AC Wh'],\n    data: [\n        summary.hours.map(h => h.gridWh),\n        summary.hours.map(h => h.acWh)\n    ]\n};\n\nconst dashboardMsg = {\n    topic: 'hourly-load-stats',\n    payload: [chart],\n    summary: {\n        dateKey,\n        totalGrid,\n        totalAc,\n        hours: summary.hours\n    }\n};\n\nreturn [fileMsg, dashboardMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 680,
        "wires": [
            [
                "3d7b5daa406ee137"
            ],
            [
                "6b9848413d671fe5",
                "e55aa7c921171c88"
            ]
        ]
    },
    {
        "id": "6b9848413d671fe5",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Build dashboard hourly widgets",
        "func": "if (msg.topic === 'controller-trace' && msg.payload && msg.payload.hourBudget) {\n    flow.set('dashboardLiveHour', {\n        timestamp: msg.payload.timestamp || '',\n        hourKey: msg.payload.hourBudget.hourKey || '',\n        gridWh: Number(msg.payload.hourBudget.usedWh) || 0,\n        acWh: Number(msg.payload.acLoadBudget && msg.payload.acLoadBudget.usedWh) || 0,\n        gridPowerW: Number(msg.payload.storedGridPowerW) || 0,\n        acPowerW: Number(msg.payload.storedAcLoadPowerW) || 0\n    });\n}\n\nconst summary = flow.get('dailySummary') || { dateKey: '', hours: [] };\nconst summaryHours = Array.isArray(summary.hours)\n    ? summary.hours.slice().sort((a, b) => a.hour.localeCompare(b.hour))\n    : [];\nconst live = flow.get('dashboardLiveHour');\nlet dateKey = summary.dateKey || '';\nconst rows = summaryHours.map(hour => ({\n    hour: hour.hour,\n    gridWh: Number(hour.gridWh) || 0,\n    acWh: Number(hour.acWh) || 0,\n    status: 'done'\n}));\n\nif (live && live.hourKey) {\n    const liveDateKey = live.hourKey.substring(0, 10);\n    const liveHourLabel = live.hourKey.substring(11, 13) + ':00';\n    if (!dateKey) {\n        dateKey = liveDateKey;\n    }\n    if (liveDateKey === dateKey) {\n        rows.push({\n            hour: liveHourLabel + ' *',\n            gridWh: Math.round(live.gridWh),\n            acWh: Math.round(live.acWh),\n            status: 'live'\n        });\n    }\n}\n\nif (!rows.length) return null;\n\nconst completedGrid = summaryHours.reduce((sum, hour) => sum + (Number(hour.gridWh) || 0), 0);\nconst completedAc = summaryHours.reduce((sum, hour) => sum + (Number(hour.acWh) || 0), 0);\nconst chart = {\n    labels: rows.map(row => row.hour),\n    series: ['Grid Wh', 'AC Wh'],\n    data: [\n        rows.map(row => row.gridWh),\n        rows.map(row => row.acWh)\n    ]\n};\n\nconst summaryText = dateKey + ' | Completed hours ' + summaryHours.length + ' | Grid ' + completedGrid + 'Wh | AC ' + completedAc + 'Wh';\nconst liveText = live && live.hourKey && live.hourKey.substring(0, 10) === dateKey\n    ? 'Live ' + (rows[rows.length - 1].hour) + ' | Grid ' + Math.round(live.gridWh) + 'Wh @ ' + Math.round(live.gridPowerW) + 'W | AC ' + Math.round(live.acWh) + 'Wh @ ' + Math.round(live.acPowerW) + 'W'\n    : 'Live current hour waiting for controller trace';\n\nreturn [\n    { topic: 'hourly-load-stats', payload: [chart] },\n    { payload: summaryText },\n    { payload: liveText },\n    { payload: { dateKey, rows } }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 760,
        "wires": [
            [
                "bbdc36194956e0f2",
                "ccf75f3c42b18fad"
            ],
            [
                "622702fff78c9a9e",
                "e5c92ba1e1522207"
            ],
            [
                "8a25db06dfb46188",
                "182424972ce7160c"
            ],
            [
                "6b27910191033ce3",
                "fa6dc3252e5e9c91"
            ]
        ]
    },
    {
        "id": "137dd306ca7275e6",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Refresh dashboard hourly stats",
        "func": "return { topic: 'dashboard-refresh' };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 820,
        "wires": [
            [
                "6b9848413d671fe5",
                "e55aa7c921171c88"
            ]
        ]
    },
    {
        "id": "e55aa7c921171c88",
        "type": "function",
        "z": "995ac4ed6222a706",
        "name": "Build analytics tab model",
        "func": "if (msg.topic === 'controller-trace' && msg.payload) {\n    flow.set('dashboardControllerTrace', msg.payload);\n}\n\nfunction dayKeyFromDate(date) {\n    return [\n        date.getFullYear(),\n        String(date.getMonth() + 1).padStart(2, '0'),\n        String(date.getDate()).padStart(2, '0')\n    ].join('-');\n}\n\nfunction hourLabelFromKey(hourKey) {\n    return hourKey.substring(11, 13) + ':00';\n}\n\nconst todayKey = dayKeyFromDate(new Date());\nconst summary = flow.get('dailySummary') || { dateKey: '', hours: [] };\nconst summaryHours = Array.isArray(summary.hours)\n    ? summary.hours.slice().sort((a, b) => a.hour.localeCompare(b.hour))\n    : [];\nconst live = flow.get('dashboardLiveHour') || null;\nconst trace = flow.get('dashboardControllerTrace') || null;\nconst solarToday = flow.get('solarForecastToday') || {};\nconst solarAdjusted = flow.get('solarForecastAdjusted') || {};\n\nconst totalGridCompleted = summaryHours.reduce((sum, row) => sum + (Number(row.gridWh) || 0), 0);\nconst totalAcCompleted = summaryHours.reduce((sum, row) => sum + (Number(row.acWh) || 0), 0);\nconst liveGridWh = live && live.hourKey && live.hourKey.startsWith(todayKey) ? Math.round(Number(live.gridWh) || 0) : 0;\nconst liveAcWh = live && live.hourKey && live.hourKey.startsWith(todayKey) ? Math.round(Number(live.acWh) || 0) : 0;\nconst totalGridToday = totalGridCompleted + liveGridWh;\nconst totalAcToday = totalAcCompleted + liveAcWh;\n\nconst hourlyRows = summaryHours.map(row => ({\n    hour: row.hour,\n    gridWh: Number(row.gridWh) || 0,\n    acWh: Number(row.acWh) || 0,\n    forecastSolarW: null,\n    state: 'done'\n}));\n\nif (live && live.hourKey && live.hourKey.startsWith(todayKey)) {\n    hourlyRows.push({\n        hour: hourLabelFromKey(live.hourKey) + ' *',\n        gridWh: liveGridWh,\n        acWh: liveAcWh,\n        forecastSolarW: null,\n        state: 'live'\n    });\n}\n\nconst forecastHourlyMap = {};\nconst adjustedResult = solarAdjusted.adjustedResult && typeof solarAdjusted.adjustedResult === 'object'\n    ? solarAdjusted.adjustedResult\n    : {};\n\nObject.keys(adjustedResult).forEach(key => {\n    if (!String(key).startsWith(todayKey)) {\n        return;\n    }\n    const label = hourLabelFromKey(String(key));\n    forecastHourlyMap[label] = Math.round(Number(adjustedResult[key]) || 0);\n});\n\nhourlyRows.forEach(row => {\n    const normalizedHour = row.hour.replace(' *', '');\n    row.forecastSolarW = Object.prototype.hasOwnProperty.call(forecastHourlyMap, normalizedHour)\n        ? forecastHourlyMap[normalizedHour]\n        : null;\n});\n\nconst allForecastHours = Object.keys(forecastHourlyMap).sort();\nconst forecastChart = {\n    labels: allForecastHours,\n    series: ['Adjusted solar forecast W'],\n    data: [allForecastHours.map(hour => forecastHourlyMap[hour])]\n};\n\nconst actualChart = {\n    labels: hourlyRows.map(row => row.hour),\n    series: ['Grid Wh', 'AC Wh'],\n    data: [\n        hourlyRows.map(row => row.gridWh),\n        hourlyRows.map(row => row.acWh)\n    ]\n};\n\nconst forecastSolarKWh = Number(solarToday.energyKWh) || 0;\nconst kpiPayload = {\n    dateKey: todayKey,\n    forecastSolarKWh: forecastSolarKWh.toFixed(2),\n    actualSolarKWh: 'pending metric',\n    forecastLoadKWh: 'pending metric',\n    actualGridKWh: (totalGridToday / 1000).toFixed(2),\n    actualAcKWh: (totalAcToday / 1000).toFixed(2),\n    surplusKWh: 'pending metric',\n    batteryGridChargeKWh: 'pending metric',\n    batterySolarChargeKWh: 'pending metric',\n    dailyCost: 'pending metric',\n    liveGridW: live ? Math.round(Number(live.gridPowerW) || 0) : 0,\n    liveAcW: live ? Math.round(Number(live.acPowerW) || 0) : 0\n};\n\nconst diagnosticsPayload = {\n    activeWindow: trace ? trace.window || 'unknown' : 'unknown',\n    gridSetpointW: trace ? Math.round(Number(trace.finalGridSetpoint) || 0) : 0,\n    chargeCurrentA: trace ? Number(trace.finalChargeCurrent || 0).toFixed(1) : '0.0',\n    consumedAhDeficit: trace ? Number(trace.consumedAhDeficit || 0).toFixed(1) : '0.0',\n    forecastRestoreAh: trace ? Number(trace.forecastRestoreAh || 0).toFixed(1) : '0.0',\n    gridRestoreAhNeeded: trace ? Number(trace.gridRestoreAhNeeded || 0).toFixed(1) : '0.0',\n    voltageLimitActive: trace ? String(Boolean(trace.voltageLimitActive)) : 'false',\n    batteryVoltage: trace ? Number(trace.batteryVoltage || 0).toFixed(2) : '0.00',\n    updatedAt: trace && trace.timestamp ? trace.timestamp : new Date().toISOString()\n};\n\nconst pendingPayload = {\n    available: [\n        'forecast solar total',\n        'hourly adjusted solar forecast',\n        'hourly Grid Wh',\n        'hourly AC Wh',\n        'live current-hour Grid/AC Wh and W',\n        'controller diagnostics from trace'\n    ],\n    missing: [\n        'actual solar kWh and hourly solar series',\n        'load forecast series',\n        'surplus forecast/actual series',\n        'PV to load/battery/grid routing',\n        'battery to load/grid routing',\n        'daily tariff cost model'\n    ]\n};\n\nreturn [\n    { payload: kpiPayload },\n    { topic: 'analytics-actual-hourly', payload: [actualChart] },\n    allForecastHours.length ? { topic: 'analytics-forecast-solar', payload: [forecastChart] } : null,\n    { payload: diagnosticsPayload },\n    { payload: { dateKey: todayKey, rows: hourlyRows } },\n    { payload: pendingPayload }\n];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1080,
        "wires": [
            [
                "e1128ba95b8412c8"
            ],
            [
                "1a1e8c9aa390c34f"
            ],
            [
                "23df4673183eb88f"
            ],
            [
                "c81df251c9407d61"
            ],
            [
                "b4515d8f57614e49"
            ],
            [
                "b8eeb060d5bc345a"
            ]
        ]
    },
    {
        "id": "e290ee7bdb1e8b5f",
        "type": "ui_ui_control",
        "z": "995ac4ed6222a706",
        "name": "Dashboard connect events",
        "events": "connect",
        "x": 210,
        "y": 820,
        "wires": [
            [
                "137dd306ca7275e6"
            ]
        ]
    },
    {
        "id": "bbdc36194956e0f2",
        "type": "ui_chart",
        "z": "995ac4ed6222a706",
        "name": "Hourly Grid and AC chart",
        "group": "ui-group-hourly-stats-01",
        "order": 1,
        "width": "18",
        "height": "7",
        "label": "Hourly Grid vs AC load",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Waiting for hourly statistics",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "24",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#aec7e8",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1810,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ccf75f3c42b18fad",
        "type": "ui_chart",
        "z": "995ac4ed6222a706",
        "name": "Hourly Grid and AC chart copy",
        "group": "ui-group-hourly-stats-02",
        "order": 1,
        "width": "18",
        "height": "7",
        "label": "Hourly Grid vs AC load",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Waiting for hourly statistics",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "24",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#aec7e8",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1930,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "622702fff78c9a9e",
        "type": "ui_text",
        "z": "995ac4ed6222a706",
        "group": "ui-group-hourly-stats-01",
        "order": 2,
        "width": "18",
        "height": "1",
        "name": "Hourly load totals",
        "label": "Summary",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1670,
        "y": 760,
        "wires": []
    },
    {
        "id": "e5c92ba1e1522207",
        "type": "ui_text",
        "z": "995ac4ed6222a706",
        "group": "ui-group-hourly-stats-02",
        "order": 2,
        "width": "18",
        "height": "1",
        "name": "Hourly load totals copy",
        "label": "Summary",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1670,
        "y": 940,
        "wires": []
    },
    {
        "id": "8a25db06dfb46188",
        "type": "ui_text",
        "z": "995ac4ed6222a706",
        "group": "ui-group-hourly-stats-01",
        "order": 3,
        "width": "18",
        "height": "1",
        "name": "Live current hour",
        "label": "Live",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1660,
        "y": 800,
        "wires": []
    },
    {
        "id": "182424972ce7160c",
        "type": "ui_text",
        "z": "995ac4ed6222a706",
        "group": "ui-group-hourly-stats-02",
        "order": 3,
        "width": "18",
        "height": "1",
        "name": "Live current hour copy",
        "label": "Live",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1660,
        "y": 980,
        "wires": []
    },
    {
        "id": "6b27910191033ce3",
        "type": "ui_template",
        "z": "995ac4ed6222a706",
        "group": "ui-group-hourly-stats-01",
        "name": "Hourly loads table",
        "order": 4,
        "width": "18",
        "height": "10",
        "format": "<style>\n.hourly-stats-table { width: 100%; border-collapse: collapse; font-size: 13px; }\n.hourly-stats-table th, .hourly-stats-table td { padding: 6px 8px; border-bottom: 1px solid rgba(255,255,255,0.12); text-align: right; }\n.hourly-stats-table th:first-child, .hourly-stats-table td:first-child { text-align: left; }\n.hourly-stats-table th:last-child, .hourly-stats-table td:last-child { text-align: center; }\n.hourly-stats-table tr.live-row { font-weight: 600; }\n.hourly-stats-wrap { padding: 6px 2px; overflow-x: auto; }\n.hourly-stats-caption { margin: 0 0 8px 0; font-size: 13px; opacity: 0.85; }\n</style>\n<div class=\"hourly-stats-wrap\">\n  <p class=\"hourly-stats-caption\">{{msg.payload.dateKey || 'Current day'}} hourly statistics</p>\n  <table class=\"hourly-stats-table\">\n    <thead>\n      <tr>\n        <th>Hour</th>\n        <th>Grid Wh</th>\n        <th>AC Wh</th>\n        <th>State</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr ng-repeat=\"row in msg.payload.rows track by $index\" ng-class=\"{'live-row': row.status === 'live'}\">\n        <td>{{row.hour}}</td>\n        <td>{{row.gridWh}}</td>\n        <td>{{row.acWh}}</td>\n        <td>{{row.status}}</td>\n      </tr>\n    </tbody>\n  </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1690,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "fa6dc3252e5e9c91",
        "type": "ui_template",
        "z": "995ac4ed6222a706",
        "group": "ui-group-hourly-stats-02",
        "name": "Hourly loads table copy",
        "order": 4,
        "width": "18",
        "height": "10",
        "format": "<style>\n.hourly-stats-table { width: 100%; border-collapse: collapse; font-size: 13px; }\n.hourly-stats-table th, .hourly-stats-table td { padding: 6px 8px; border-bottom: 1px solid rgba(255,255,255,0.12); text-align: right; }\n.hourly-stats-table th:first-child, .hourly-stats-table td:first-child { text-align: left; }\n.hourly-stats-table th:last-child, .hourly-stats-table td:last-child { text-align: center; }\n.hourly-stats-table tr.live-row { font-weight: 600; }\n.hourly-stats-wrap { padding: 6px 2px; overflow-x: auto; }\n.hourly-stats-caption { margin: 0 0 8px 0; font-size: 13px; opacity: 0.85; }\n</style>\n<div class=\"hourly-stats-wrap\">\n  <p class=\"hourly-stats-caption\">{{msg.payload.dateKey || 'Current day'}} hourly statistics</p>\n  <table class=\"hourly-stats-table\">\n    <thead>\n      <tr>\n        <th>Hour</th>\n        <th>Grid Wh</th>\n        <th>AC Wh</th>\n        <th>State</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr ng-repeat=\"row in msg.payload.rows track by $index\" ng-class=\"{'live-row': row.status === 'live'}\">\n        <td>{{row.hour}}</td>\n        <td>{{row.gridWh}}</td>\n        <td>{{row.acWh}}</td>\n        <td>{{row.status}}</td>\n      </tr>\n    </tbody>\n  </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1690,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "e1128ba95b8412c8",
        "type": "ui_template",
        "z": "995ac4ed6222a706",
        "group": "ui-group-analytics-main-01",
        "name": "Analytics KPI panel",
        "order": 1,
        "width": "8",
        "height": "12",
        "format": "<style>\n.analytics-kpi { display:grid; grid-template-columns: 1fr; gap:8px; }\n.analytics-kpi-card { border-bottom:1px solid rgba(255,255,255,0.12); padding:6px 0; }\n.analytics-kpi-label { font-size:12px; opacity:0.72; }\n.analytics-kpi-value { font-size:24px; font-weight:600; line-height:1.2; }\n.analytics-kpi-unit { font-size:12px; opacity:0.72; margin-left:4px; }\n.analytics-kpi-sub { font-size:12px; opacity:0.82; margin-top:2px; }\n</style>\n<div class=\"analytics-kpi\">\n  <div class=\"analytics-kpi-card\"><div class=\"analytics-kpi-label\">Forecast Solar Today</div><div class=\"analytics-kpi-value\">{{msg.payload.forecastSolarKWh}}<span class=\"analytics-kpi-unit\">kWh</span></div></div>\n  <div class=\"analytics-kpi-card\"><div class=\"analytics-kpi-label\">Actual Solar Today</div><div class=\"analytics-kpi-value\">{{msg.payload.actualSolarKWh}}</div></div>\n  <div class=\"analytics-kpi-card\"><div class=\"analytics-kpi-label\">Forecast Load Today</div><div class=\"analytics-kpi-value\">{{msg.payload.forecastLoadKWh}}</div></div>\n  <div class=\"analytics-kpi-card\"><div class=\"analytics-kpi-label\">Grid Import Today</div><div class=\"analytics-kpi-value\">{{msg.payload.actualGridKWh}}<span class=\"analytics-kpi-unit\">kWh</span></div><div class=\"analytics-kpi-sub\">Live {{msg.payload.liveGridW}} W</div></div>\n  <div class=\"analytics-kpi-card\"><div class=\"analytics-kpi-label\">AC Consumption Today</div><div class=\"analytics-kpi-value\">{{msg.payload.actualAcKWh}}<span class=\"analytics-kpi-unit\">kWh</span></div><div class=\"analytics-kpi-sub\">Live {{msg.payload.liveAcW}} W</div></div>\n  <div class=\"analytics-kpi-card\"><div class=\"analytics-kpi-label\">Surplus / Routing / Cost</div><div class=\"analytics-kpi-value\" style=\"font-size:16px; font-weight:500;\">{{msg.payload.surplusKWh}}</div><div class=\"analytics-kpi-sub\">Battery from grid: {{msg.payload.batteryGridChargeKWh}} | Battery from solar: {{msg.payload.batterySolarChargeKWh}} | Cost: {{msg.payload.dailyCost}}</div></div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "1a1e8c9aa390c34f",
        "type": "ui_chart",
        "z": "995ac4ed6222a706",
        "name": "Analytics actual hourly chart",
        "group": "ui-group-analytics-main-01",
        "order": 2,
        "width": "16",
        "height": "7",
        "label": "Actual hourly Grid and AC",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Waiting for hourly data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "24",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#aec7e8",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1270,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "23df4673183eb88f",
        "type": "ui_chart",
        "z": "995ac4ed6222a706",
        "name": "Analytics forecast solar chart",
        "group": "ui-group-analytics-main-01",
        "order": 3,
        "width": "16",
        "height": "7",
        "label": "Adjusted solar forecast today",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Waiting for solar forecast",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "24",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#98df8a",
            "#aec7e8",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b4515d8f57614e49",
        "type": "ui_template",
        "z": "995ac4ed6222a706",
        "group": "ui-group-analytics-main-01",
        "name": "Analytics hourly table",
        "order": 4,
        "width": "24",
        "height": "10",
        "format": "<style>\n.analytics-table { width:100%; border-collapse:collapse; font-size:13px; }\n.analytics-table th, .analytics-table td { padding:6px 8px; border-bottom:1px solid rgba(255,255,255,0.12); text-align:right; }\n.analytics-table th:first-child, .analytics-table td:first-child { text-align:left; }\n.analytics-table tr.live-row { font-weight:600; }\n.analytics-table-wrap { overflow-x:auto; padding-top:4px; }\n</style>\n<div class=\"analytics-table-wrap\">\n  <table class=\"analytics-table\">\n    <thead><tr><th>Hour</th><th>Grid Wh</th><th>AC Wh</th><th>Forecast Solar W</th><th>State</th></tr></thead>\n    <tbody>\n      <tr ng-repeat=\"row in msg.payload.rows track by $index\" ng-class=\"{'live-row': row.state === 'live'}\">\n        <td>{{row.hour}}</td><td>{{row.gridWh}}</td><td>{{row.acWh}}</td><td>{{row.forecastSolarW === null ? 'pending metric' : row.forecastSolarW}}</td><td>{{row.state}}</td>\n      </tr>\n    </tbody>\n  </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "c81df251c9407d61",
        "type": "ui_template",
        "z": "995ac4ed6222a706",
        "group": "ui-group-analytics-diag-01",
        "name": "Analytics diagnostics",
        "order": 1,
        "width": "12",
        "height": "8",
        "format": "<style>\n.analytics-diag-grid { display:grid; grid-template-columns: 1fr 1fr; gap:8px 14px; }\n.analytics-diag-label { font-size:12px; opacity:0.7; }\n.analytics-diag-value { font-size:18px; font-weight:600; }\n.analytics-diag-wide { grid-column:1 / span 2; }\n</style>\n<div class=\"analytics-diag-grid\">\n  <div><div class=\"analytics-diag-label\">Window</div><div class=\"analytics-diag-value\">{{msg.payload.activeWindow}}</div></div>\n  <div><div class=\"analytics-diag-label\">Grid setpoint</div><div class=\"analytics-diag-value\">{{msg.payload.gridSetpointW}} W</div></div>\n  <div><div class=\"analytics-diag-label\">Charge current</div><div class=\"analytics-diag-value\">{{msg.payload.chargeCurrentA}} A</div></div>\n  <div><div class=\"analytics-diag-label\">Battery voltage</div><div class=\"analytics-diag-value\">{{msg.payload.batteryVoltage}} V</div></div>\n  <div><div class=\"analytics-diag-label\">Consumed Ah deficit</div><div class=\"analytics-diag-value\">{{msg.payload.consumedAhDeficit}} Ah</div></div>\n  <div><div class=\"analytics-diag-label\">Forecast restore</div><div class=\"analytics-diag-value\">{{msg.payload.forecastRestoreAh}} Ah</div></div>\n  <div><div class=\"analytics-diag-label\">Grid restore needed</div><div class=\"analytics-diag-value\">{{msg.payload.gridRestoreAhNeeded}} Ah</div></div>\n  <div><div class=\"analytics-diag-label\">Voltage limit</div><div class=\"analytics-diag-value\">{{msg.payload.voltageLimitActive}}</div></div>\n  <div class=\"analytics-diag-wide\"><div class=\"analytics-diag-label\">Updated</div><div class=\"analytics-diag-value\" style=\"font-size:14px; font-weight:500;\">{{msg.payload.updatedAt}}</div></div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "b8eeb060d5bc345a",
        "type": "ui_template",
        "z": "995ac4ed6222a706",
        "group": "ui-group-analytics-diag-01",
        "name": "Analytics pending metrics",
        "order": 2,
        "width": "12",
        "height": "8",
        "format": "<style>\n.analytics-pending h4 { margin:0 0 8px 0; }\n.analytics-pending ul { margin:0; padding-left:18px; }\n.analytics-pending li { margin:4px 0; }\n.analytics-pending .avail { color:#8fd19e; }\n.analytics-pending .miss { color:#f1c27d; }\n</style>\n<div class=\"analytics-pending\">\n  <h4>Available now</h4>\n  <ul><li class=\"avail\" ng-repeat=\"item in msg.payload.available track by $index\">{{item}}</li></ul>\n  <h4 style=\"margin-top:12px;\">Still pending</h4>\n  <ul><li class=\"miss\" ng-repeat=\"item in msg.payload.missing track by $index\">{{item}}</li></ul>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "3d7b5daa406ee137",
        "type": "file",
        "z": "995ac4ed6222a706",
        "name": "Write daily summary",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1240,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "233d4e08d8a8fe38",
        "type": "delay",
        "z": "995ac4ed6222a706",
        "name": "Delay 10s",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 400,
        "wires": [
            [
                "c125191024e87a94"
            ]
        ]
    }
]