flows.json
[
    {
        "id": "tab-day-night",
        "type": "tab",
        "label": "Day / Night Grid Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93f485839dfa27a8",
        "type": "subflow",
        "name": "Solar forecast",
        "info": "This subflow uses the http request node to fetch solar forecasts for geographical positions, using the API from https://forecast.solar/. Please check their website and consider getting a paid account.\n\nDo note that, on a free account, you are limited in the number of requests to do. Also note that the data only gets updated once every 15 minutes, so there is no reason to query more often. There is rate limiting built in the subflow not to perform requests more than once every 15 minutes.\n\n# Configuration\n\nIt uses the parameters as described on: http://doc.forecast.solar/doku.php\n\n - `:apikey` - personal API key for registered users\n - `:lat` - latitude of location, -90 (south) … 90 (north); Internal precission is 0.0001 or abt. 10 m\n - `:lon` - longitude of location, -180 (west) … 180 (east); Internal precission is 0.0001 or abt. 10 m\n - `:dec` - plane declination, 0 (horizontal) … 90 (vertical); Internal precission is integer\n - `:az` - plane azimuth, -180 … 180 (-180 = north, -90 = east, 0 = south, 90 = west, 180 = north); Internal precission is integer\n - `:kwp` - installed modules power in kilo watt peak (kWp)\n\nYou can choose between 3 different type of requests. Note that only `estimate` is available on the free plan.\n\n- `estimate` - this is the forecasted estimate that your panels should produce (given the right parameter settings)\n- `history` - historical data showing the long term averages for the days to come. See [https://joint-research-centre.ec.europa.eu/pvgis-online-tool/pvgis-data-download/cm-saf-solar-radiation_en](https://joint-research-centre.ec.europa.eu/pvgis-online-tool/pvgis-data-download/cm-saf-solar-radiation_en) for where the data is fetched from.\n- `clear sky` - estimate given if there would be a clear sky tomorrow\n\nIn case of estimates, one of the following options can be selected:\n- `watts` - Watts (power) average for the period\n- `watt_hours_period` - Watt hours (energy) for the period\n- `watt_hours` - Watt hours (energy) summarized over the day\n- `watt_hours_day` - Watt hours (energy) summarized for each day\n\nFor the graph output there are some extra settings available:\n\n- _Output in kWh_ - when checked output can be set to kWh instead of Wh\n- _Show todays forecast_ - whether or not to include todays forecast\n- _Days to forecast_ - the number of days to forecast (excluding today). Note that you can not get more days forecasted than your API key allows.\n- _Widen graph_ - widen the graph to only show non-zero values\n\n# Input \n\nThe input is for triggering the solar forecast request. \nIt triggers when injecting a message into the node.\n\n# Output\n\nThere are two outputs. The first output is an object with the result and a status message stored into the `msg.payload`.\n\nMost important is the `msg.payload.result`, which contains the estimated production of the panels. E.g.:\n\n```\npayload: object\n  result: object\n    2022-11-28: 23\n    2022-11-29: 35\n```\n\nThe `msg.payload.message` gives information on how successful the query was, the exitcode of the query and the status of the rate limit (how many queries you have left).\n\nThe **second** output can be directly linked to a line or a bar chart, quickly giving a once-glance overview for the predicted forecast.\n\n# Status\n\nInitially the status of the note will be a blue dot, showing \"_Unknown limit_\", as it is unaware of the set ratelmits. After the first request, the returned ratelimit will be put in the text in the form of `remaining/limit`. If more than half the limit is remaining, the dot will be green. If less then half the limit is remaining, the dot will be yellow. If no limit is left, the dot will turn red.\nPlease keep in mind that the ratelimit will be reset after one hour, so you can send a new request after that hour.\n\nIf something is wrong in the API request, the dot will turn red\nand the message will contain the msg.payload with the error. This\nhappens typically when the API is temporally down for maintenance.",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 100,
                "wires": [
                    {
                        "id": "c8dc6aa14b9f3e92"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 260,
                "wires": [
                    {
                        "id": "2f42837904c91d73",
                        "port": 0
                    },
                    {
                        "id": "fcc8d69a3ab88e6d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 770,
                "y": 340,
                "wires": [
                    {
                        "id": "5b0a430fb61e70e7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "latitude",
                "type": "num",
                "value": "51.3",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "longitude",
                "type": "num",
                "value": "5.6",
                "ui": {
                    "icon": "font-awesome/fa-location-arrow",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "declination",
                "type": "num",
                "value": "37",
                "ui": {
                    "icon": "font-awesome/fa-chevron-up",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "azimuth",
                "type": "num",
                "value": "0",
                "ui": {
                    "icon": "font-awesome/fa-compass",
                    "type": "spinner",
                    "opts": {
                        "min": -180,
                        "max": 180
                    }
                }
            },
            {
                "name": "modules power",
                "type": "num",
                "value": "1",
                "ui": {
                    "icon": "font-awesome/fa-power-off",
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "apikey",
                "type": "cred",
                "ui": {
                    "icon": "font-awesome/fa-key",
                    "type": "input",
                    "opts": {
                        "types": [
                            "cred"
                        ]
                    }
                }
            },
            {
                "name": "type",
                "type": "str",
                "value": "estimate",
                "ui": {
                    "label": {
                        "en-US": "type"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Estimate"
                                },
                                "v": "estimate"
                            },
                            {
                                "l": {
                                    "en-US": "History"
                                },
                                "v": "history"
                            },
                            {
                                "l": {
                                    "en-US": "Clear sky"
                                },
                                "v": "clearsky"
                            }
                        ]
                    }
                }
            },
            {
                "name": "watt",
                "type": "str",
                "value": "watts",
                "ui": {
                    "icon": "font-awesome/fa-question-circle-o",
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Watts (power) average for the period"
                                },
                                "v": "watts"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) for the period"
                                },
                                "v": "watt_hours_period"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) summarized over the day"
                                },
                                "v": "watt_hours"
                            },
                            {
                                "l": {
                                    "en-US": "Watt hours (energy) summarized for each day"
                                },
                                "v": "watt_hours_day"
                            }
                        ]
                    }
                }
            },
            {
                "name": "kwhoutput",
                "type": "bool",
                "value": "false",
                "ui": {
                    "label": {
                        "en-US": "Output in kWh (in the graph)"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "showtoday",
                "type": "bool",
                "value": "true",
                "ui": {
                    "label": {
                        "en-US": "Show todays forecast"
                    },
                    "type": "checkbox"
                }
            },
            {
                "name": "daystoforecast",
                "type": "str",
                "value": "-1",
                "ui": {
                    "label": {
                        "en-US": "Days to forecast"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "Max"
                                },
                                "v": "-1"
                            },
                            {
                                "l": {
                                    "en-US": "0"
                                },
                                "v": "0"
                            },
                            {
                                "l": {
                                    "en-US": "1"
                                },
                                "v": "1"
                            },
                            {
                                "l": {
                                    "en-US": "2"
                                },
                                "v": "2"
                            },
                            {
                                "l": {
                                    "en-US": "3"
                                },
                                "v": "3"
                            },
                            {
                                "l": {
                                    "en-US": "4"
                                },
                                "v": "4"
                            },
                            {
                                "l": {
                                    "en-US": "5"
                                },
                                "v": "5"
                            },
                            {
                                "l": {
                                    "en-US": "6"
                                },
                                "v": "6"
                            }
                        ]
                    }
                }
            },
            {
                "name": "widengraph",
                "type": "bool",
                "value": "true",
                "ui": {
                    "label": {
                        "en-US": "Widen graph"
                    },
                    "type": "checkbox"
                }
            }
        ],
        "meta": {
            "module": "Solar Forecast",
            "version": "0.0.9",
            "author": "dfaber@victronenergy.com",
            "desc": "Get solar forecasting per location",
            "keywords": "solar,forecast,api",
            "license": "GPL-3.0"
        },
        "color": "#FFCC66",
        "inputLabels": [
            "trigger"
        ],
        "outputLabels": [
            "output",
            "graph"
        ],
        "icon": "font-awesome/fa-sun-o",
        "status": {
            "x": 680,
            "y": 560,
            "wires": [
                {
                    "id": "1bfc1cde3ee94e4b",
                    "port": 0
                },
                {
                    "id": "a798fbe66cf133d5",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "victron-client-id",
        "type": "victron-client",
        "showValues": true,
        "contextStore": true,
        "enablePolling": false
    },
    {
        "id": "c706820c0d61f023",
        "type": "http request",
        "z": "93f485839dfa27a8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1b5ccaa05d54f7c3"
            ]
        ]
    },
    {
        "id": "b9488734852cd0ca",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "create forecast.solar url",
        "func": "msg.url = 'https://api.forecast.solar/';\n\nif (env.get('apikey')) {\n    msg.url += env.get('apikey') + '/';\n    }\n\nmsg.url += env.get('type') + '/';\n\nmsg.url += env.get('watt') + '/';\n\nmsg.url += env.get('latitude') + '/' +\n           env.get('longitude') + '/' +\n           env.get('declination') + '/' +\n           env.get('azimuth') + '/' +\n           env.get('modules power');\n\nmsg.topic = 'solar forecast: '+(env.get('type') || '');\nmsg.topic += (' '+env.get('watt') || '');\nif (env.get('kwhoutput')) {\n    msg.topic += ' (kWh)';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "975daf96f15cfb61"
            ]
        ]
    },
    {
        "id": "1b5ccaa05d54f7c3",
        "type": "json",
        "z": "93f485839dfa27a8",
        "name": "Convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "e718a22973cc2864"
            ]
        ]
    },
    {
        "id": "559391d1288f762a",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "update ratelimit",
        "func": "var remaining = msg.payload.message.ratelimit.remaining || 0;\nvar limit = msg.payload.message.ratelimit.limit;\n\nflow.set('forecast.solar.ratelimit.remaining', remaining)\nflow.set('forecast.solar.ratelimit.limit', limit)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 480,
        "wires": [
            [
                "e56826252134b93a"
            ]
        ]
    },
    {
        "id": "e718a22973cc2864",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "3fa24f2d08195961",
            "0a20e852662c8cec"
        ],
        "x": 815,
        "y": 180,
        "wires": []
    },
    {
        "id": "3fa24f2d08195961",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 1",
        "links": [
            "e718a22973cc2864"
        ],
        "x": 385,
        "y": 480,
        "wires": [
            [
                "559391d1288f762a"
            ]
        ]
    },
    {
        "id": "0a20e852662c8cec",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 2",
        "links": [
            "e718a22973cc2864"
        ],
        "x": 225,
        "y": 260,
        "wires": [
            [
                "fcc8d69a3ab88e6d"
            ]
        ]
    },
    {
        "id": "4734b6f403e1f03e",
        "type": "inject",
        "z": "93f485839dfa27a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "e56826252134b93a"
            ]
        ]
    },
    {
        "id": "1bfc1cde3ee94e4b",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "update status",
        "func": "var remaining = flow.get('forecast.solar.ratelimit.remaining') || -1;\nvar limit = flow.get('forecast.solar.ratelimit.limit') || -1\n\nvar text = remaining.toString() + '/' + limit.toString();\nvar fill = \"green\";\n\nif (remaining == 0) {\n    fill = \"red\";\n    text = \"Limit used\";\n}\n\nif (remaining > 0 && remaining < limit / 2) {\n    fill = \"yellow\"\n}\n\nif (remaining == -1 ) {\n    fill = \"blue\"\n    text = \"Limits unknown\"\n}\n\nmsg.payload = ({ fill: fill, text: text });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a18e96179ec2d987",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Create graph output",
        "func": "var m = {};\nm.labels = [];\nm.data = [];\n\nm.series = [];\nm.data = [];\nm.labels = [];\n\nfor (let j = 0; j <= msg.days; j++) {\n    m.data[j] = [];\n}\n\nif (msg.watt === 'watt_hours_day') {\n    var i = 0;\n    m.series.push(\"Watt hours per day\");\n    for (const key in msg.payload.result) {\n        m.labels.push(key);\n        if (msg.kwhoutput) {\n            m.data[i] = +(Math.round(msg.payload.result[key]/100)*.1).toFixed(1);\n        } else {\n            m.data[i] = msg.payload.result[key];\n        }\n        i++;\n    }\n    m.data = [m.data];\n    return { payload: [m] };\n}\n\nfor (let i = 0; i <= 23; i++) {\n\n    m.labels.push(i.toString()+':00');\n    if (msg.resolution === 4) {\n       m.labels.push(i.toString()+':15');\n    }\n    if (msg.resolution === 2 || msg.resolution == 4) {\n       m.labels.push(i.toString()+':30');\n    }\n    if (msg.resolution === 4) {\n       m.labels.push(i.toString()+':45');\n    }\n\n    for (let j = 0; j <= msg.days; j++) {\n        m.data[j].push(0);\n        if (msg.resolution === 4) {\n           m.data[j].push(0)\n        }\n        if (msg.resolution === 2 || msg.resolution == 4) {\n           m.data[j].push(0)\n        }\n        if (msg.resolution === 4) {\n           m.data[j].push(0)\n        }\n\n    }\n}\n\nvar offset = 0;\nfor (const key in msg.payload.result) {\n    var d = new Date(key)\n    if (m.series.indexOf(d.toISOString().split('T')[0]) === -1) {\n        m.series.push(d.toISOString().split('T')[0])\n    }\n\n    var h = d.getHours();\n    var minutes = d.getMinutes();\n\n    if (minutes === 0 ) {\n        offset = 0;\n    } else {\n        offset++;\n    }\n\n    if (msg.kwhoutput) {\n        m.data[m.series.length - 1][h*msg.resolution+offset] = +(Math.round(msg.payload.result[key]/100)*.1).toFixed(1);\n    } else {\n        m.data[m.series.length - 1][h*msg.resolution+offset] = msg.payload.result[key];\n    }\n}\n\nreturn { payload: [m] };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "5b0a430fb61e70e7"
            ]
        ]
    },
    {
        "id": "975daf96f15cfb61",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "14f2e68e572f4ef8"
        ],
        "x": 805,
        "y": 100,
        "wires": []
    },
    {
        "id": "14f2e68e572f4ef8",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 18",
        "links": [
            "975daf96f15cfb61"
        ],
        "x": 245,
        "y": 180,
        "wires": [
            [
                "c706820c0d61f023"
            ]
        ]
    },
    {
        "id": "c4307905e114824f",
        "type": "catch",
        "z": "93f485839dfa27a8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "f427f19392c399ce"
            ]
        ]
    },
    {
        "id": "e56826252134b93a",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "dbaf8f5f5a920686"
        ],
        "x": 685,
        "y": 480,
        "wires": []
    },
    {
        "id": "dbaf8f5f5a920686",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 19",
        "links": [
            "e56826252134b93a"
        ],
        "x": 385,
        "y": 580,
        "wires": [
            [
                "1bfc1cde3ee94e4b"
            ]
        ]
    },
    {
        "id": "f427f19392c399ce",
        "type": "link out",
        "z": "93f485839dfa27a8",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "2ded0c14a222b4d9",
            "2f42837904c91d73"
        ],
        "x": 375,
        "y": 440,
        "wires": []
    },
    {
        "id": "2ded0c14a222b4d9",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 20",
        "links": [
            "f427f19392c399ce"
        ],
        "x": 385,
        "y": 540,
        "wires": [
            [
                "a798fbe66cf133d5"
            ]
        ]
    },
    {
        "id": "a798fbe66cf133d5",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Set error status",
        "func": "node.warn(msg.payload)\nmsg.payload = ({ fill: \"red\", text: msg.payload });\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2f42837904c91d73",
        "type": "link in",
        "z": "93f485839dfa27a8",
        "name": "link in 21",
        "links": [
            "f427f19392c399ce"
        ],
        "x": 665,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fcc8d69a3ab88e6d",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Processed info",
        "func": "msg.resolution = 60;\nmsg.days = 1;\nmsg.type = env.get('type');\nmsg.watt = env.get('watt');\nmsg.kwhoutput = env.get('kwhoutput');\n\nvar key1 = Object.keys(msg.payload.result)[1];\nvar key2 = Object.keys(msg.payload.result)[2];\nvar key3 = Object.keys(msg.payload.result)[Object.keys(msg.payload.result).length-1];\n\nvar d1 = new Date(key1);\nvar d2 = new Date(key2); \nvar d3 = new Date(key3);\nmsg.resolution = 3600000 / (d2.getTime() - d1.getTime());\n\nmsg.days = Math.floor((d3.getTime() - d1.getTime()) / (1000 * 3600 * 24));\n\nif (msg.watt === 'watt_hours_day') {\n    msg.resolution = null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "a18e96179ec2d987"
            ]
        ],
        "info": "Function to process the result from forecast.solar to add\nextra information, which is handy for either graphing or\nto store in a database.\n\n\nThe extra values added:\n- `msg.resolution` - The number of measurements per hour. If\nno API key is used, this will be 1. Other values may be 2 or 4.\n- `msg.days` - The number of days in the forcast. If no API\n- key is used this will be 1. Other values may be 3 or 6."
    },
    {
        "id": "5b0a430fb61e70e7",
        "type": "function",
        "z": "93f485839dfa27a8",
        "name": "Filter graph",
        "func": "var forecasted = msg.payload[0].series.length;\n\nif ((env.get('daystoforecast') > -1) && (env.get('daystoforecast') < forecasted)) {\n    for (i = 1; i < (forecasted - env.get('daystoforecast')); i++ ) {\n        msg.payload[0].data.pop();\n        msg.payload[0].series.pop();\n    }\n}\n\nif (env.get('watt') === 'watt_hours_day' ) {\n    forecasted = msg.payload[0].labels.length;\n    for (i = 1; i < (forecasted - env.get('daystoforecast')); i++ ) {\n        msg.payload[0].labels.pop();\n        msg.payload[0].data[0].pop();\n    }\n}\n\nif (!env.get('showtoday')) {\n    msg.payload[0].data.shift();\n    msg.payload[0].series.shift();\n}\n\nif (env.get('widengraph')) {\n    var c = msg.payload[0].labels.length;\n    var x = 0;\n    for (i = 0; i < c; i++) {\n        var remove = true;\n        for (d = 0; d < msg.payload[0].data.length; d++) {\n            if (msg.payload[0].data[d][x] > 0) {\n                remove = false;\n            }\n        }\n        if (remove) {\n            msg.payload[0].labels.splice(x, 1);\n            for (d = 0; d < msg.payload[0].data.length; d++) {\n                 msg.payload[0].data[d].splice(x, 1);\n            }\n            x--;\n        }\n        x++;\n    }\n    // Still the first and last datapoints should be zero, so\n    // add those again\n    msg.payload[0].labels.unshift('');\n    msg.payload[0].labels.push('');\n    for (d = 0; d < msg.payload[0].data.length; d++) {\n         msg.payload[0].data[d].unshift(0);\n         msg.payload[0].data[d].push(0);\n    }   \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c8dc6aa14b9f3e92",
        "type": "delay",
        "z": "93f485839dfa27a8",
        "name": "1 msg/15 minutes",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "b9488734852cd0ca"
            ]
        ]
    },
    {
        "id": "inject-day-grid",
        "type": "inject",
        "z": "tab-day-night",
        "name": "DAY 06:00 Grid setpoint 1950W",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1950",
        "payloadType": "num",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "4ff6216f6aa25cd2"
            ]
        ]
    },
    {
        "id": "inject-night-grid",
        "type": "inject",
        "z": "tab-day-night",
        "name": "NIGHT 22:00 Grid setpoint 2700W",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2700",
        "payloadType": "num",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "4ff6216f6aa25cd2"
            ]
        ]
    },
    {
        "id": "inject-day-current",
        "type": "inject",
        "z": "tab-day-night",
        "name": "DAY 06:00 Grid current 9.6A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "9.5",
        "payloadType": "num",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "4ff6216f6aa25cd2"
            ]
        ]
    },
    {
        "id": "inject-night-current",
        "type": "inject",
        "z": "tab-day-night",
        "name": "NIGHT 22:00 Grid current 12.6A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12.6",
        "payloadType": "num",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "4ff6216f6aa25cd2"
            ]
        ]
    },
    {
        "id": "cb520e4335693da7",
        "type": "victron-output-vebus",
        "z": "tab-day-night",
        "service": "com.victronenergy.vebus/276",
        "path": "/Ac/In/1/CurrentLimit",
        "serviceObj": {
            "service": "com.victronenergy.vebus/276",
            "name": "MultiPlus-II 48/5000/70-50"
        },
        "pathObj": {
            "path": "/Ac/In/1/CurrentLimit",
            "type": "float",
            "name": "Input 1 current limit (A)",
            "mode": "both"
        },
        "initial": 9.5,
        "name": "",
        "onlyChanges": false,
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "a03b80118af93adf",
        "type": "victron-output-ess",
        "z": "tab-day-night",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcPowerSetPoint",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcPowerSetPoint",
            "type": "integer",
            "name": "Grid set-point (W)",
            "mode": "both"
        },
        "initial": 1950,
        "name": "",
        "onlyChanges": false,
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "7894647c546606c6",
        "type": "victron-output-ess",
        "z": "tab-day-night",
        "service": "com.victronenergy.settings",
        "path": "/Settings/SystemSetup/MaxChargeCurrent",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "Venus settings"
        },
        "pathObj": {
            "path": "/Settings/SystemSetup/MaxChargeCurrent",
            "type": "float",
            "name": "DVCC Charge current limit (A)",
            "mode": "both"
        },
        "initial": 0,
        "name": "DVCC Charge current Limit (A)",
        "onlyChanges": false,
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "3688443da38b4d47",
        "type": "victron-input-battery",
        "z": "tab-day-night",
        "service": "com.victronenergy.battery/4",
        "path": "/Dc/0/Voltage",
        "serviceObj": {
            "service": "com.victronenergy.battery/4",
            "name": "SerialBattery(LLT/JBD)"
        },
        "pathObj": {
            "path": "/Dc/0/Voltage",
            "type": "float",
            "name": "Battery voltage (V)"
        },
        "name": "",
        "onlyChanges": false,
        "roundValues": "1",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "192e64bf98f268c7"
            ]
        ]
    },
    {
        "id": "f4b6d2a3c8e94101",
        "type": "change",
        "z": "tab-day-night",
        "name": "Tag battery voltage",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "battery-voltage",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "4ff6216f6aa25cd2"
            ]
        ]
    },
    {
        "id": "c7a9f1d2e3b45670",
        "type": "delay",
        "z": "tab-day-night",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "a1c2e3f4567890ab"
            ]
        ]
    },
    {
        "id": "a1c2e3f4567890ab",
        "type": "change",
        "z": "tab-day-night",
        "name": "Tag grid power",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "grid-power",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "4ff6216f6aa25cd2"
            ]
        ]
    },
    {
        "id": "4ff6216f6aa25cd2",
        "type": "function",
        "z": "tab-day-night",
        "name": "Battery + Grid Controller",
        "func": "// ==========================\n// LOGIC SUMMARY / CHANGE NOTES\n// ==========================\n// Current behavior implemented after iterative tuning:\n// 1. This function now has 4 outputs:\n//    - output 1 -> DVCC charge current limit (A)\n//    - output 2 -> ESS grid setpoint (W)\n//    - output 3 -> VE.Bus AC input current limit (A)\n//    - output 4 -> VRM notification message\n// 2. The function accepts multiple message types:\n//    - `topic = battery-voltage` -> updates battery voltage state\n//    - `topic = grid-power` -> updates measured grid import power in W\n//    - any other topic / inject -> recalculates outputs using stored state\n// 3. Night charging uses hysteresis:\n//    - ON again at 54.5V or lower\n//    - OFF at 54.8V or higher\n// 4. Morning charging uses hysteresis:\n//    - ON below 53.5V\n//    - OFF above 53.8V\n// 5. Evening charging uses hysteresis:\n//    - ON below 54.0V\n//    - OFF above 54.4V\n// 6. Base grid setpoint schedule:\n//    - 2700W at night\n//    - 1950W during the rest of the day\n// 7. High-voltage protection for unknown external MPPT charging:\n//    - start limiting when battery voltage rises above 55.0V\n//    - release only after voltage drops back to 54.8V or lower\n//    - taper grid setpoint smoothly down to a minimum of 200W by 55.2V\n// 8. Hourly budget control:\n//    - integrate positive grid import every hour in Wh\n//    - day budget = 2000Wh / hour\n//    - night budget = 2700Wh / hour\n//    - allowed remaining average power is recalculated continuously\n// 9. Final grid setpoint is the minimum of:\n//    - base schedule\n//    - high-voltage limit\n//    - hourly budget limit\n// 10. Hourly budget has higher priority than the 200W voltage minimum.\n//     If the hour budget is exhausted, setpoint may drop below 200W.\n// 11. Grid setpoint reduction due to battery over-voltage is smoothed so the battery does not\n//     see large sudden load changes.\n// 12. VE.Bus input current limit is now calculated dynamically together with grid setpoint:\n//     - derived from final grid setpoint / grid voltage\n//     - uses `flow.gridVoltage` if available, else defaults to 230V\n// 13. A VRM notification is emitted when either:\n//     - grid setpoint changes\n//     - VE.Bus Input 1 current limit changes\n// 14. `boostActive`, `activeWindow`, battery voltage, grid power, and hourly budget state are\n//     all stored in context.\n// 15. `day-night.txt` and the embedded `func` in `flows.json` must always stay synchronized.\n\n// ==========================\n// INPUT / OUTPUT TOPICS\n// ==========================\nconst BATTERY_TOPIC = \"battery-voltage\";\nconst GRID_TOPIC = \"grid-power\";\n\n// ==========================\n// CONSTANTS\n// ==========================\nconst MAX_CHARGE_CURRENT = 25;\nconst DEFAULT_GRID_VOLTAGE = 230;\n\nconst DAY_BASE_GRID_SETPOINT = 1950;\nconst NIGHT_BASE_GRID_SETPOINT = 2700;\n\nconst DAY_HOURLY_BUDGET_W = 2000;\nconst NIGHT_HOURLY_BUDGET_W = 2700;\n\nconst NIGHT_ON_VOLTAGE = 54.5;\nconst NIGHT_OFF_VOLTAGE = 54.8;\n\nconst MORNING_ON_VOLTAGE = 53.5;\nconst MORNING_OFF_VOLTAGE = 53.8;\n\nconst EVENING_ON_VOLTAGE = 54.0;\nconst EVENING_OFF_VOLTAGE = 54.4;\n\nconst HIGH_VOLTAGE_LIMIT_START = 55.0;\nconst HIGH_VOLTAGE_LIMIT_RELEASE = 54.8;\nconst HIGH_VOLTAGE_LIMIT_FULL = 55.2;\nconst MIN_GRID_SETPOINT = 200;\nconst MAX_GRID_STEP_W = 100;\n\n// ==========================\n// TIME\n// ==========================\nconst now = new Date();\nconst hour = now.getHours();\nconst minute = now.getMinutes();\nconst second = now.getSeconds();\n\n// ==========================\n// CONTEXT MEMORY\n// ==========================\nlet boostActive = context.get(\"boostActive\") || false;\nconst previousWindow = context.get(\"activeWindow\") || \"none\";\nlet batteryVoltage = Number(context.get(\"batteryVoltage\"));\nconst storedGridPowerW = Math.max(0, Number(context.get(\"gridPowerW\")) || 0);\nlet gridPowerW = storedGridPowerW;\nlet voltageLimitActive = context.get(\"voltageLimitActive\") || false;\nconst previousGridSetpoint = Number(context.get(\"gridSetpoint\"));\nconst previousAcInputCurrentLimit = Number(context.get(\"acInputCurrentLimit\"));\nlet hourBudget = context.get(\"hourBudget\") || {\n    hourKey: \"\",\n    lastTs: 0,\n    usedWh: 0\n};\n\n// ==========================\n// HELPERS\n// ==========================\nfunction clamp(value, min, max) {\n    return Math.min(Math.max(value, min), max);\n}\n\nfunction round1(value) {\n    return Math.round(value * 10) / 10;\n}\n\nfunction getHourKey(date) {\n    return [\n        date.getFullYear(),\n        String(date.getMonth() + 1).padStart(2, \"0\"),\n        String(date.getDate()).padStart(2, \"0\")\n    ].join(\"-\") + \" \" + String(date.getHours()).padStart(2, \"0\");\n}\n\nfunction getHourStartTs(date) {\n    return new Date(\n        date.getFullYear(),\n        date.getMonth(),\n        date.getDate(),\n        date.getHours(),\n        0,\n        0,\n        0\n    ).getTime();\n}\n\nfunction advanceHourBudget(state, date, importPowerW) {\n    const nextState = {\n        hourKey: state.hourKey || \"\",\n        lastTs: Number(state.lastTs) || 0,\n        usedWh: Number(state.usedWh) || 0\n    };\n\n    const nowTs = date.getTime();\n    const hourKey = getHourKey(date);\n    const hourStartTs = getHourStartTs(date);\n\n    if (!nextState.lastTs || nextState.hourKey !== hourKey || nextState.lastTs < hourStartTs) {\n        nextState.hourKey = hourKey;\n        nextState.lastTs = hourStartTs;\n        nextState.usedWh = 0;\n    }\n\n    if (nowTs > nextState.lastTs) {\n        const deltaHours = (nowTs - nextState.lastTs) / 3600000;\n        nextState.usedWh += Math.max(0, importPowerW) * deltaHours;\n        nextState.lastTs = nowTs;\n    }\n\n    return nextState;\n}\n\nfunction smoothReduction(previousValue, targetValue, maxStep) {\n    if (!Number.isFinite(previousValue)) {\n        return targetValue;\n    }\n\n    if (targetValue < previousValue - maxStep) {\n        return previousValue - maxStep;\n    }\n\n    if (targetValue > previousValue + maxStep) {\n        return previousValue + maxStep;\n    }\n\n    return targetValue;\n}\n\nfunction buildNotification(window, gridSetpoint, acInputCurrentLimit) {\n    const parts = [\n        `${window}`,\n        `V=${batteryVoltage.toFixed(2)}V`,\n        `Grid setpoint=${gridSetpoint}W`,\n        `Input 1 current=${acInputCurrentLimit}A`\n    ];\n\n    if (limitFlags.length > 0) {\n        parts.push(`Limit=${limitFlags.join(\"+\")}`);\n    }\n\n    return {\n        topic: \"vrm-notification\",\n        payload: parts.join(\" | \"),\n        notification: {\n            message: parts.join(\" | \"),\n            level: \"info\",\n            timestamp: now.toISOString()\n        }\n    };\n}\n\nfunction buildOutputs(chargeCurrent, gridSetpoint) {\n    const gridVoltage = Number(flow.get(\"gridVoltage\")) || DEFAULT_GRID_VOLTAGE;\n    const acInputCurrentLimit = gridSetpoint > 0\n        ? round1(gridSetpoint / gridVoltage)\n        : 0;\n\n    const notifyMsg =\n        gridSetpoint !== previousGridSetpoint ||\n        acInputCurrentLimit !== previousAcInputCurrentLimit\n            ? buildNotification(windowName, gridSetpoint, acInputCurrentLimit)\n            : null;\n\n    context.set(\"acInputCurrentLimit\", acInputCurrentLimit);\n\n    return [\n        {\n            topic: \"charge-current-limit\",\n            payload: chargeCurrent\n        },\n        {\n            topic: \"grid-setpoint\",\n            payload: gridSetpoint\n        },\n        {\n            topic: \"ac-input-current-limit\",\n            payload: acInputCurrentLimit\n        },\n        notifyMsg\n    ];\n}\n\n// ==========================\n// UPDATE STORED INPUTS\n// ==========================\nhourBudget = advanceHourBudget(hourBudget, now, storedGridPowerW);\n\nif (msg.topic === BATTERY_TOPIC) {\n    const incomingVoltage = Number(msg.payload);\n\n    if (Number.isFinite(incomingVoltage)) {\n        batteryVoltage = incomingVoltage;\n        context.set(\"batteryVoltage\", batteryVoltage);\n    }\n}\nelse if (msg.topic === GRID_TOPIC) {\n    const incomingGridPower = Number(msg.payload);\n\n    if (Number.isFinite(incomingGridPower)) {\n        gridPowerW = Math.max(0, incomingGridPower);\n        context.set(\"gridPowerW\", gridPowerW);\n    }\n}\n\ncontext.set(\"hourBudget\", hourBudget);\n\nif (!Number.isFinite(batteryVoltage)) {\n    node.status({\n        fill: \"grey\",\n        shape: \"ring\",\n        text: \"WAITING FOR BATTERY VOLTAGE\"\n    });\n    return null;\n}\n\n// ==========================\n// TIME WINDOWS\n// ==========================\nconst nightWindow = (hour >= 22 || hour < 6);\n\nconst morningWindow =\n    (hour > 6 && hour < 11) ||\n    (hour === 6) ||\n    (hour === 11 && minute <= 59);\n\nconst eveningWindow = hour >= 17;\n\nconst baseScheduleSetpoint = nightWindow ? NIGHT_BASE_GRID_SETPOINT : DAY_BASE_GRID_SETPOINT;\nconst hourlyBudgetLimit = nightWindow ? NIGHT_HOURLY_BUDGET_W : DAY_HOURLY_BUDGET_W;\n\n// ==========================\n// CHARGE CURRENT WINDOW LOGIC\n// ==========================\nlet windowName = \"OUTSIDE\";\nlet baseChargeCurrent = 0;\n\nif (nightWindow) {\n    windowName = \"NIGHT\";\n\n    if (previousWindow !== windowName) {\n        boostActive = true;\n    }\n\n    if (boostActive && batteryVoltage >= NIGHT_OFF_VOLTAGE) {\n        boostActive = false;\n    }\n\n    if (!boostActive && batteryVoltage <= NIGHT_ON_VOLTAGE) {\n        boostActive = true;\n    }\n\n    baseChargeCurrent = boostActive ? MAX_CHARGE_CURRENT : 0;\n}\nelse if (morningWindow) {\n    windowName = \"MORNING\";\n\n    if (previousWindow !== windowName) {\n        boostActive = false;\n    }\n\n    if (!boostActive && batteryVoltage < MORNING_ON_VOLTAGE) {\n        boostActive = true;\n    }\n\n    if (boostActive && batteryVoltage > MORNING_OFF_VOLTAGE) {\n        boostActive = false;\n    }\n\n    baseChargeCurrent = boostActive ? MAX_CHARGE_CURRENT : 0;\n}\nelse if (eveningWindow) {\n    windowName = \"EVENING\";\n\n    if (previousWindow !== windowName) {\n        boostActive = false;\n    }\n\n    if (!boostActive && batteryVoltage < EVENING_ON_VOLTAGE) {\n        boostActive = true;\n    }\n\n    if (boostActive && batteryVoltage > EVENING_OFF_VOLTAGE) {\n        boostActive = false;\n    }\n\n    baseChargeCurrent = boostActive ? MAX_CHARGE_CURRENT : 0;\n}\nelse {\n    boostActive = false;\n    baseChargeCurrent = 0;\n}\n\n// ==========================\n// HIGH-VOLTAGE GRID SETPOINT LIMIT\n// ==========================\nif (!voltageLimitActive && batteryVoltage > HIGH_VOLTAGE_LIMIT_START) {\n    voltageLimitActive = true;\n}\n\nif (voltageLimitActive && batteryVoltage <= HIGH_VOLTAGE_LIMIT_RELEASE) {\n    voltageLimitActive = false;\n}\n\nlet voltageLimitedSetpoint = baseScheduleSetpoint;\n\nif (voltageLimitActive) {\n    const taper = clamp(\n        (HIGH_VOLTAGE_LIMIT_FULL - batteryVoltage) /\n        (HIGH_VOLTAGE_LIMIT_FULL - HIGH_VOLTAGE_LIMIT_START),\n        0,\n        1\n    );\n\n    voltageLimitedSetpoint = Math.round(\n        MIN_GRID_SETPOINT + (baseScheduleSetpoint - MIN_GRID_SETPOINT) * taper\n    );\n}\n\n// Apply smoothing only to the voltage-based reduction so the battery does not see large jumps.\nif (voltageLimitActive) {\n    voltageLimitedSetpoint = Math.round(\n        smoothReduction(\n            previousGridSetpoint,\n            voltageLimitedSetpoint,\n            MAX_GRID_STEP_W\n        )\n    );\n}\n\n// ==========================\n// HOURLY GRID BUDGET LIMIT\n// ==========================\nconst secondsIntoHour = minute * 60 + second;\nconst secondsLeftInHour = Math.max(1, 3600 - secondsIntoHour);\nconst hoursLeftInHour = secondsLeftInHour / 3600;\nconst usedWh = hourBudget.usedWh || 0;\nconst remainingWh = clamp(hourlyBudgetLimit - usedWh, 0, hourlyBudgetLimit);\nconst budgetLimitedSetpoint = Math.round(remainingWh / hoursLeftInHour);\n\n// ==========================\n// FINAL OUTPUTS\n// ==========================\nconst finalGridSetpoint = Math.max(\n    0,\n    Math.round(\n        Math.min(\n            baseScheduleSetpoint,\n            voltageLimitedSetpoint,\n            budgetLimitedSetpoint\n        )\n    )\n);\n\nconst currentRatio = baseScheduleSetpoint > 0\n    ? clamp(finalGridSetpoint / baseScheduleSetpoint, 0, 1)\n    : 0;\n\nconst finalChargeCurrent = baseChargeCurrent > 0\n    ? round1(baseChargeCurrent * currentRatio)\n    : 0;\n\ncontext.set(\"boostActive\", boostActive);\ncontext.set(\"activeWindow\", windowName);\ncontext.set(\"voltageLimitActive\", voltageLimitActive);\ncontext.set(\"gridSetpoint\", finalGridSetpoint);\n\n// ==========================\n// STATUS\n// ==========================\nconst limitFlags = [];\n\nif (voltageLimitActive && finalGridSetpoint <= voltageLimitedSetpoint) {\n    limitFlags.push(\"HV\");\n}\n\nif (budgetLimitedSetpoint < Math.min(baseScheduleSetpoint, voltageLimitedSetpoint)) {\n    limitFlags.push(\"HOUR\");\n}\n\nlet fill = \"grey\";\n\nif (windowName === \"NIGHT\") {\n    fill = finalChargeCurrent > 0 ? \"blue\" : \"yellow\";\n}\nelse if (windowName === \"MORNING\" || windowName === \"EVENING\") {\n    fill = finalChargeCurrent > 0 ? \"green\" : \"yellow\";\n}\n\nconst flagsText = limitFlags.length > 0 ? ` | ${limitFlags.join(\"+\")}` : \"\";\n\nnode.status({\n    fill,\n    shape: finalChargeCurrent > 0 || finalGridSetpoint > 0 ? \"dot\" : \"ring\",\n    text: `${windowName} | V=${batteryVoltage.toFixed(2)}V | ${finalChargeCurrent}A | ${finalGridSetpoint}W | ${Math.round(usedWh)}Wh${flagsText}`\n});\n\nreturn buildOutputs(finalChargeCurrent, finalGridSetpoint);",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 580,
        "wires": [
            [
                "7894647c546606c6"
            ],
            [
                "a03b80118af93adf"
            ],
            [
                "cb520e4335693da7"
            ],
            []
        ]
    },
    {
        "id": "192e64bf98f268c7",
        "type": "delay",
        "z": "tab-day-night",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "f4b6d2a3c8e94101"
            ]
        ]
    },
    {
        "id": "4a6e35457f2e2fce",
        "type": "link in",
        "z": "tab-day-night",
        "name": "Grid import power (W)",
        "links": [],
        "x": 385,
        "y": 380,
        "wires": [
            [
                "c7a9f1d2e3b45670"
            ]
        ]
    }
]